<!DOCTYPE html>
<html>
<head>
    <title>有色云</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link href="../../css/mobiletime.css" rel="stylesheet" type="text/css"></link>
    <link rel="stylesheet" href="./index.css">
    
</head>
<body>
    <div id="app" v-cloak>
        <div class="titles">物流委托</div>
        <form-input red :title="'公司名称'" :placeholder="'请输入公司名称'"></form-input>
        <div class="form-select">
            <div class="form-title"><span class="red">装货时间</span></div><div id="times" class="form-content form-checked">{{form.time}}</div><div class="form-img"></div>
        </div>
        <form-input red :title="'运送货物'" :placeholder="'请输入运送货物'"></form-input>
        <form-input red :title="'货物包装'" :placeholder="'请输入货物包装'"></form-input>
        <form-input red :title="'货物重量'" :placeholder="'请输入货物重量'" :unit="'吨'"></form-input>
        <div @click="showArea = true">
            <form-select
                red
                :title="'装货地址'"
                :checked="!!area"
                :placeholder="area ? area : '请选择装货地址'"
            ></form-select>
        </div>
        <form-input :title="'详细地址'" :placeholder="'请输入详细地址'"></form-input>
        <form-input red :title="'装货联系人'" :placeholder="'请输入装货联系人'"></form-input>
        <form-input red :title="'联系电话'" :placeholder="'请输入联系电话'"></form-input>
        <div @click="showArea = true">
            <form-select
                red
                :title="'卸货地址'"
                :checked="!!area"
                :placeholder="area ? area : '请选择卸货地址'"
            ></form-select>
        </div>
        <form-input :title="'详细地址'" :placeholder="'请输入详细地址'"></form-input>
        <form-input red :title="'卸货联系人'" :placeholder="'请输入卸货联系人'"></form-input>
        <form-input red :title="'联系电话'" :placeholder="'请输入联系电话'"></form-input>
        <form-input :title="'备注说明'" :placeholder="'请输入备注说明'"></form-input>
        <div class="titles">被委托方</div>
        <div class="company">
            <p>天津北龙佳盛国际贸易有限公司</p>
            <p>贾经理 13312126292</p>
            <p v-show="showMore">公司详情：公司拥有多辆各种型号的车型，可承接全国各地长短途运输，长期以来公司在实践与探索中建立，健全了一套完整的物流管理体系</p>
            <p v-show="showMore">公司领域：公司拥有多辆各种型号的车型，可承接全国各地长短途运输，长期以来公司在实践与探索中建立，健全了一套完整的物流管理体系</p>
            <span v-show="showMore" @click="showMore = false">关闭</span>
            <span v-show="!showMore" @click="showMore = true">查看更多>></span>
        </div>
        <div class="next mt1">提交委托</div>
        <check-area @change="checkArea" @close="showArea = false" v-if="showArea"></check-area>
    </div>
    <script src="../../js/common.js"></script>
    <script src="../../js/mobiletime.js"></script>
    <script src="./index.js"></script>
</body>
</html>
    
