.titles {
    box-sizing: border-box;
    padding: .77rem 0 .33rem .51rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 6.64rem;
	height: 1.1rem;
	background-color: #0053fb;
    border-radius: .1rem;
    font-size: .36rem;
	font-weight: bold;
    line-height: 1;
    color: #fff;
}
.mt1 {
    margin-top: 1rem;
}
.mt70 {
    margin-top: .7rem;
}
.mt46 {
    margin-top: .46rem;
}
.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: .4rem;

    .f3 {
        display: flex;
        font-size: .3rem;
        line-height: 1;
        color: #000;
    }
    .colorE {
        color: #8d8a9c;
    }
    .colorB {
        color: #0053fb;
    }
    input {
        position: absolute;
        // z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .25rem;
        border: solid 1px #a0a0a0;
        border-radius: 50%; 
        width: .34rem;
        height: .34rem;
        background: #fff;                

        .check {
            border-radius: 50%;
            width: .22rem;
            height: .22rem;
            background-color: #d5a76a;
        }
    }
}