.notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 .39rem 0 .35rem;
    width: 100%;
    height: .72rem;
    background: #eee;

    span {
        display: block;
        font-size: .24rem;
        line-height: 1;
        color: #7e8396;
    }
    i {
        display: block;
        width: .18rem;
        height: .18rem;
        background-image: url(../../images/bg.png);
        background-position: -3.11rem -2.21rem ;
        background-size: 6.86rem;
    }
}
.form {
    box-sizing: border-box;
    padding-left: .42rem;

    .wrap {
        span {
            display: block;
            margin: .4rem 0 .47rem;
            font-size: .3rem;
            line-height: 1;
            color: #535353;
        }
        .logo {
            display: flex;
            border: .03rem dotted #e5e5e5; 
            width: 4.36rem;
            height: 2.02rem;
            justify-content: center;
            align-items: center;
            
            .logos {
                display: block;
                width: 1rem;
                height: .86rem;
                background-image: url(../../images/bg.png);
                background-position: -.29rem -5rem ;
                background-size: 6.86rem;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        textarea {
            display: block;
            box-sizing: border-box;
            border-bottom: 1px solid #e5e5e5;
            padding: .03rem;
            width: 100%;
            height: 3.73rem;
            font-size: .28rem;
            line-height: 1.2;
        }
    }
    .important {
        margin-top: .4rem;
        font-size: .24rem;
        line-height: 1;
        color: #f00;
    }
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding: 0 .37rem 0 .05rem;
        height: 1.2rem;

        span {
            display: block;
            font-size: .3rem;
            line-height: 1;
            color: #535353;
        }
        input, div {
            flex: 1;
            margin-right: .48rem;
            font-size: .3rem;
            line-height: 1;
            text-align: right;
            color: #535353;
        }
        i {
            display: block;
            width: .18rem;
            height: .32rem;
            background-image: url(../../images/bg.png);
            background-position: -.89rem -2.18rem ;
            background-size: 6.86rem;
        }
        div {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
button {
    display: block;
    margin: 1.87rem auto;
    width: 6.64rem;
	height: 1.1rem;
	background-color: #0053fb;
    border-radius: .1rem;
    font-size: .36rem;
    line-height: 1.1rem;
    text-align: center;
    color: #fff;
}
.mt64 {
    margin-top: .64rem;
}
.typeList {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
        box-sizing: border-box;
        border-radius: .1rem .1rem 0 0;
        border-bottom: .01rem solid #e5e5e5;
        padding: .36rem 0 .34rem;
        font-size: .3rem;
        line-height: 1;
        color: #000;
        text-align: center;
        background: #fff;
    }
    .list {
        margin-bottom: .27rem;
        height: 6rem;
        overflow-y: auto;
        background-color: #fff;

        div {
            box-sizing: border-box;
            padding: .42rem 0;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
        }
        .choose {
            color: #0052fb;
        }
    }
    .list1 {
        display: flex;
        margin-bottom: .27rem;
        height: 6rem;
        background-color: #fff;

        .left, .right {
            flex: 1;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
            overflow-y: auto;

            .choose {
                color: #0052fb;
            }
            div {
                box-sizing: border-box;
                padding: .42rem 0;
            }
        }
    }
    .close {
        height: 1rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid 1px #e5e5e5;
        font-size: .3rem;
        line-height: 1rem;
        color: #0052fb;
        text-align: center;
    }
}
