.top {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 .4rem .4rem;

    .send {
        display: block;
        width: .40rem;
        height: .35rem;
        background-image: url(../../images/bg.png);
        background-position: -1.73rem -3.43rem ;
        background-size: 6.86rem;
    }    
}
.title {
    box-sizing: border-box;
    padding: .29rem .35rem .27rem;
    font-size: .32rem;
    line-height: 1.2;
    color: #000;
}
.line {
    width: 100%;
    height: .18rem;
    background: #eee;
}
.main {
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding: .4rem .3rem 0;
    display: flex;
    flex-direction: column;
    height: 8.36rem;

    #content {
        flex: 1;
        font-size: .3rem;
        word-break: break-all;
    }
    .uploadImage {
        position: relative;
        flex-shrink: 1;
        display: block;
        margin: .15rem 0;
        width: .37rem;
        height: .33rem;
        background-image: url(../../images/uploadImage.png);
        background-size: 100%;
        // background-position: -.88rem -2.18rem;
        // background-size: 6.86rem;
    }
}
.list {
    box-sizing: border-box;
    padding-left: .4rem;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        border-bottom: .02rem solid #e5e5e5;
        padding: .48rem .38rem .44rem .04rem;

        &:last-child{
            border: 0;
        }
        div {
            display: block;
            font-size: .3rem;
            line-height: 1;
            color: #535353;

            p + p {
                margin-top: .12rem;
                font-size: .26rem;
                color: #b2b2b2;
            }
        }
        span {
            display: block;
            font-size: .26rem;
            line-height: 1;
            color: #0053fb;
        }
        .check {
            display: block;
            width: .67rem;
            height: .45rem;
            background-image: url(../../images/bg.png);
            background-position: -.36rem -3.43rem;
            background-size: 6.86rem;
            // box-shadow: .03rem .05rem .09rem .01rem 
		    // rgba(178, 178, 178, 0.61);
        }
        .checked {
            display: block;
            width: .73rem;
            height: .45rem;
            background-image: url(../../images/bg.png);
            background-position: -.36rem -3.88rem;
            background-size: 6.86rem;
        }
    }
}
