.main {
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 .3rem;
    display: flex;
    flex-direction: column;
    height: 8.36rem;

    #titles {
        flex-shrink: 1;
        display: block;
        box-sizing: border-box;
        padding: .1rem .24rem;
        width: 100%;
        height: .62rem;
        font-size: .36rem;
        line-height: 1.2;
        font-weight: bold;
        resize: none;
        word-break: break-all;
    }
    .notice{
        flex-shrink: 1;
        box-sizing: border-box;
        margin-bottom: .2rem;
        border-radius: .1rem;
        padding: .3rem;
        width: 100%;
        background: #f7f7f7;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .14rem;

            .notices {
                display: block;
                width: .31rem;
                height: .31rem;
                background-image: url(../../images/bg.png);
                background-position: -.36rem -2.18rem;
                background-size: 6.86rem;
            }
            span {
                flex: 1;
                display: block;
                margin-left: .14rem;
                font-size: .3rem;
                line-height: 1;
                color: #9299a3;
            }
            .close {
                display: block;
                width: .18rem;
                height: .18rem;
                background-image: url(../../images/bg.png);
                background-position: -3.11rem -2.21rem;
                background-size: 6.86rem;
            }
        }
        p {
            display: block;
            font-size: .28rem;
            line-height: .48rem;
            color: #9299a3;
        }
    }
    #content {
        flex: 1;
        font-size: .3rem;
        word-break: break-all;
    }
    .uploadImage {
        position: relative;
        flex-shrink: 1;
        display: block;
        margin: .15rem 0;
        width: .37rem;
        height: .33rem;
        background-image: url(../../images/uploadImage.png);
        background-size: 100%;
        // background-position: -.88rem -2.18rem;
        // background-size: 6.86rem;
    }
}
// .list {
//     box-sizing: border-box;
//     padding-left: .4rem;

//     .item {
//         display: flex;
//         justify-content: space-between;
//         box-sizing: border-box;
//         border-bottom: .02rem solid #e5e5e5;
//         padding: .48rem .38rem .44rem .04rem;

//         &:last-child{
//             border: 0;
//         }
//         span {
//             display: block;
//             font-size: .3rem;
//             line-height: 1;
//             color: #535353;
//         }
//         .next {
//             display: block;
//             width: .18rem;
//             height: .32rem;
//             background-image: url(../../images/bg.png);
//             background-position: -.88rem -2.18rem;
//             background-size: 6.86rem;
//         }
//     }
// }
.labels {
    box-sizing: border-box;
    padding: .2rem .45rem;

    .title {
        margin-bottom: .33rem;
        font-size: .3rem;
        line-height: 1;
        color: #0053fb;
    }
    .labelList {
        display: flex;
        flex-wrap: wrap;

        .item {
            position: relative;
            margin: 0 .37rem .2rem 0;
            border-radius: .1rem;
            padding: .11rem .51rem .12rem .17rem;
            font-size: .24rem;
            line-height: 1;
            color: #0053fb;
            background-color: rgba($color: #e1f1f9, $alpha: .6);

            &::before{
                position: absolute;
                right: .15rem;
                top: .14rem;
                content: "";
                display: block;
                width: .2rem;
                height: .2rem;
                background-image: url(../../images/bg.png);
                background-position: -3.38rem -2.21rem;
                background-size: 6.86rem;
            }
        }
    }
}
button {
    display: block;
    margin: 1.5rem auto;
    width: 6.64rem;
	height: 1.1rem;
	background-color: #0053fb;
    border-radius: .1rem;
    font-size: .36rem;
    color: #fff;
    line-height: 1.1rem;
    text-align: center;
}
.noClick {
    background-color: #ececec;
    color: #7e8396;
}

.mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .chooseBox {
        display: flex;
        flex-direction: column;       
        border-radius: .1rem .1rem 0px 0px;
        border: solid 1px #e5e5e5;
        width: 100%;
        height: 9.79rem;
        background-color: #fff;

        .top {
            flex-shrink: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: .39rem .53rem .34rem;

            span {
                display: block;
            }
            .title {
                font-size: .32rem;
                line-height: 1;
                color: #000;
            }
            .complete {
                font-size: .3rem;
                line-height: 1;
                color: #0053fb;
            }
        }
        .searchBox {
            flex-shrink: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 0 .44rem 0 .48rem;
            border-radius: .38rem;
            border: solid 1px #e5e5e5;
            width: 6.84rem;
            height: .76rem;
            background-color: #f5f5f5;
            
            input {
                flex: 1;
                font-size: .3rem;
                line-height: 1;
            }
            span {
                display: block;
                width: .3rem;
                height: .3rem;
                background-image: url(../../images/bg.png);
                background-position: -2.89rem -3.44rem;
                background-size: 6.86rem;
            }
        }
        .notice {
            flex-shrink: 1;
            padding: .38rem .81rem;
            font-size: .26rem;
            line-height: 1;
            color: #7e8396;
        }
        .labelList {            
            flex-shrink: 1;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            margin-right: -.37rem;
            padding: 0 .63rem;

            .item {
                position: relative;
                margin: 0 .37rem .2rem 0;
                border-radius: .1rem;
                padding: .11rem .51rem .12rem .17rem;
                font-size: .24rem;
                line-height: 1;
                color: #0053fb;
                background-color: rgba($color: #e1f1f9, $alpha: .6);
    
                &::before{
                    position: absolute;
                    right: .15rem;
                    top: .14rem;
                    content: "";
                    display: block;
                    width: .2rem;
                    height: .2rem;
                    background-image: url(../../images/bg.png);
                    background-position: -3.38rem -2.21rem;
                    background-size: 6.86rem;
                }
            }
        }
        .chooseList {
            flex: 1;
            overflow-y: auto;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                padding: .29rem .56rem .29rem .8rem;

                p {
                    display: block;
                    font-size: .3rem;
                    line-height: 1;
                    color: #000;
                }
                span {
                    display: block;
                    border-radius: .1rem;
                    padding: .14rem .26rem;
                    font-size: .26rem;
                    line-height: 1;
                    color: #fff;
                    background-color: #0053fb;
                }
            }
        }
    }
}
.mask-active {
    animation: go-in .8s;
    opacity: 1;
    visibility: visible;
}

.mask-none {
    animation: go-out 1.5s;
    opacity: 0;
    visibility: visible;
    height: 0;
}

@keyframes go-in
{
    0% {opacity: 0; height: 0;}
    100%{opacity: 1; height: 9.79rem;}
}
@keyframes go-out
{
    0% {opacity: 1; height: 9.79rem;}
    100%{opacity: 0; height: 0; display: none}
}
