.mb4 {
    margin-bottom: .4rem;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 .36rem;

    .head {
        margin-right: .3rem;
        width: 1.3rem;
        height: 1.3rem;
        background-image: url(../../images/bg.png);
        background-position: -4.65rem -.09rem ;
        background-size: 6.86rem;
    }
    .content {
        flex: 1;

        .name {
            display: flex;
            align-items: center;
            font-size: .4rem;
            line-height: 1;
            color: #7e8396;

            span {
                display: block;
            }
            span + span {
                margin-left: .23rem;
            }
            .vip {
                width: .3rem;
                height: .3rem;
                background-image: url(../../images/bg.png);
                background-position: -5.94rem -1.57rem ;
                background-size: 6.86rem;
            }
            .novip {
                width: .25rem;
                height: .25rem;
                background-image: url(../../images/bg.png);
                background-position: -6.4rem -1.57rem ;
                background-size: 6.86rem;
            }
        }
        .notice {
            margin-top: .21rem;
            font-size: .26rem;
            line-height: 1;
            color: #7e8396;
        }
    }
    .next {
        width: .16rem;
        height: .28rem;
        background-image: url(../../images/bg.png);
        background-position: -.89rem -2.18rem ;
        background-size: 6.86rem;
    }
}
.line {
    margin: .45rem 0 .57rem;
    width: 100%;
    height: .18rem;
	background-color: #eee;
}
.join {
    display: block;
    margin: 0 auto;
    margin-bottom: .85rem;
    width: 6.49rem;
    height: 1.37rem;
}
.bigTitle {
    padding-left: .49rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.wait {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .45rem .52rem .77rem .49rem;
    color: #fff;
    
    .left, .right {
        width: 3.01rem;
        height: 1.33rem;
        border-radius: .12rem;

        .title {
            margin-top: .18rem;
            font-size: .36rem;
            line-height: 1;
            text-align: center;
        }
        .bottom {
            display: flex;
            justify-content: center;
            margin-top: .2rem;

            span {
                display: block;
                margin-right: .15rem;
                width: .42rem;
                height: .42rem;
            }
            i {
                font-size: .48rem;
                line-height: .48rem;                
            }
            div {
                font-size: .36rem;
                line-height: .48rem;
            }
        }
    }
    .left {
        background-color: #00b8ff;

        span {
            background-image: url(../../images/bg.png);
            background-position: -.21rem -6.84rem ;
            background-size: 6.86rem;
        }
    }
    .right {
        background-color: #fec91b;

        span {
            background-image: url(../../images/bg.png);
            background-position: -.82rem -6.84rem ;
            background-size: 6.86rem;
        }
    }
}
.list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: .42rem;

        span {
            display: block;
            margin: .22rem;
            width: .6rem;
            height: .6rem;
        }
        .title {
            font-size: .26rem;
            line-height: 1;
            color: #1b1b1b;
            text-align: center;
        }
        .member {
            background-image: url(../../images/bg.png);
            background-position: -.29rem -2.65rem ;
            background-size: 6.86rem;
        }
        .collection {
            background-image: url(../../images/bg.png);
            background-position: -1.11rem -2.67rem ;
            background-size: 6.86rem;
        }
        .answer {
            background-image: url(../../images/bg.png);
            background-position: -1.97rem -2.7rem ;
            background-size: 6.86rem;
        }
        .product {
            background-image: url(../../images/bg.png);
            background-position: -2.75rem -2.68rem ;
            background-size: 6.86rem;
        }
        .entrust {
            background-image: url(../../images/bg.png);
            background-position: -3.47rem -2.69rem ;
            background-size: 6.86rem;
        }
        .trusteeship {
            background-image: url(../../images/bg.png);
            background-position: -4.15rem -2.65rem ;
            background-size: 6.86rem;
        }
        .order {
            background-image: url(../../images/bg.png);
            background-position: -4.89rem -2.65rem ;
            background-size: 6.86rem;
        }
        .like {
            background-image: url(../../images/bg.png);
            background-position: -5.64rem -2.68rem ;
            background-size: 6.86rem;
        }
    }
}
.button {
    margin: 1.5rem auto 0;
    width: 6.49rem;
	height: .87rem;
	border-radius: .14rem;
    border: solid 1px #0053d5;
    font-size: .36rem;
    line-height: .87rem;
    text-align: center;
    color: #0052fb;
}
#app {
    overflow: hidden;
    padding: .58rem 0;
}
