<!DOCTYPE html>
<html>
<head>
    <title>有色云</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no" />
    <link rel="stylesheet" href="../../css/common.css" />
    <link rel="stylesheet" href="./index.css">
    
</head>
<body>
    <div id="app" v-cloak>
        <div class="top">
            <div class="head"></div>
            <div class="content" @click="goInfo">
                <div class="name"><span>昵称</span><span class="vip" v-if="vip"></span><span class="novip" v-else></span></div>
                <div class="notice">所属企业待完善</div>
            </div>
            <div class="next"></div>
        </div>
        <div class="line"></div>
        <img class="join" src="../../images/8_03.png" alt="">
        <div class="bigTitle">待处理业务</div>
        <div class="wait">
            <div class="left">
                <div class="title">售出订单</div>
                <div class="bottom">
                    <span></span>
                    <i>3</i>
                    <div>笔</div>
                </div>
            </div>
            <div class="right">
                <div class="title">购入订单</div>
                <div class="bottom">
                    <span></span>
                    <i>3</i>
                    <div>笔</div>
                </div>
            </div>
        </div>
        <div class="bigTitle mb4">个人中心</div>
        <div class="list">
            <div class="item">
                <span class="member"></span>
                <div class="title">入驻平台</div>
            </div>
            <div class="item">
                <span class="collection"></span>
                <div class="title">我的收藏</div>
            </div>
            <div class="item">
                <span class="answer"></span>
                <div class="title">我的回答</div>
            </div>
            <div class="item">
                <span class="product"></span>
                <div class="title">我的供求</div>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <span class="entrust"></span>
                <div class="title">我的委托</div>
            </div>
            <div class="item">
                <span class="trusteeship"></span>
                <div class="title">物流质检</div>
            </div>
            <div class="item">
                <span class="order"></span>
                <div class="title">我的订单</div>
            </div>
            <div class="item">
                <span class="like"></span>
                <div class="title">我的喜好</div>
            </div>
        </div>
        <div class="button">返回首页</div>
    </div>

    <script src="../../js/common.js"></script>
    <script src="./index.js"></script>
</body>
</html>
    
