.titles {
    box-sizing: border-box;
    padding: .77rem 0 .33rem .51rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem .46rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.18rem;
        height: 1.1rem;
        border-radius: .1rem;
        font-size: .36rem;
        line-height: 1;
        font-weight: bold;
    }
    .next {
        color: #fff;
        background-color: #0053fb;
    }
    .pre {
        color: #8d8a9c;
        background-color: #e5e5e5;
    }
}
.mt1 {
    margin-top: 1rem;
}
.uploadImages {
    box-sizing: border-box;
    margin-left: .51rem;
    padding: .4rem .31rem 0 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;

    .left {
        width: 2rem;
        color: #000;
    }
    .right {
        flex: 1;

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: .02rem solid #e5e5e5;
            border-radius: .1rem;
            width: 1.76rem;
            height: 1.76rem;
            background: #fff;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        p {
            display: block;
            margin: .24rem 0;
            font-size: .24rem;
            line-height: 1;
            color: #d2d2d2;
        }
    }
}
.form-radio1 {
    flex: 1;
    box-sizing: border-box;
    margin-left: .51rem;
    padding: .4rem .31rem 0 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;

    .title {
        width: 1.56rem;
        color: #000;

        .red {
            position: relative;

            &::before {
                content: "*";
                position: absolute;
                left: -.15rem;
                top: 0rem;
                color: red;
            }
        }
    }
    .content {
        flex: 1;
        display: flex;

        .radio {
            position: relative;
            display: flex;
            align-items: center;
            margin-left: .4rem;

            input {
                position: absolute;
                // z-index: 1;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .25rem;
                border: solid 1px #a0a0a0;
                border-radius: 50%; 
                width: .34rem;
                height: .34rem;
                background: #fff;                

                .check {
                    border-radius: 50%;
                    width: .22rem;
                    height: .22rem;
                    background-color: #d5a76a;
                }
            }
            .uncheck {
                color: #8d8a9c;
            }
        }
    }
}
textarea {
    box-sizing: border-box;
    margin: .44rem auto;
    padding: .4rem .38rem;
    width: 6.78rem;
	height: 2.69rem;
	background-color: #fff;
	border-radius: .1rem;
    border: solid .02rem #e5e5e5;
    font-size: .3rem;
    line-height: 1.2;
}