.mt10 {
    margin-top: .1rem;
}
.mt70 {
    margin-top: .7rem;
}
.mt50 {
    margin-top: .5rem;
}
#app {
    padding-bottom: 2rem;
}
.today {
    display: flex;
    box-sizing: border-box;
    padding: .5rem;
    width: 100%;
    height: 2.75rem;
    background: #6c99f7;

    .left {
        margin-right: .4rem;
        flex-shrink: 0;
        font-size: .36rem;
        font-weight: bold;
        line-height: 1;
        color: #fff;
    }
    .right {
        flex: 1;
        height: .8rem;
        color: #fff;
        line-height: 1;
        overflow: hidden;
        
        .list {
            display: flex;
            align-items: center;
            height: .33rem;
            margin-bottom: .09rem;

            .title {
                display: block;
                margin-right: .2rem;
                width: .6rem;
                height: .33rem;
                font-size: .24rem;
                line-height: .33rem;
                text-align: center;
                background: #232122;
                border-radius: .05rem;
            }
            .content {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: .26rem;
            }
        }
    }
}
.want {
    margin: 0 auto;
    margin-top: -.98rem;
    width: 6.53rem;
	height: 3.92rem;
	background-color: #fff;
	border-radius: .1rem;
    border: solid 1px #e5e5e5;
    
    .tap {
        display: flex;
        margin: 0 .5rem;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding-top: .3rem;

        span {
            display: block;
            box-sizing: border-box;
            margin-right: .4rem;
            padding: .24rem 0;
            border-bottom: .11rem solid #fff;
            font-size: .3rem;
            line-height: 1;
            color: rgba($color: #000, $alpha: .5);
        }
        .active {
            border-bottom: .11rem solid #e5edff;
            color: rgba($color: #000, $alpha: 1.0);
        }
    }
    .content {
        box-sizing: border-box;
        padding: .53rem 0 .56rem .55rem;
        line-height: 1;

        p {
            margin-bottom: .14rem;
            font-size: .32rem;
            color: #000;
        }
        div {
            font-size: .26rem;
            color: #303030;
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #e5e5e5;
        height: .9rem;
        font-size: .32rem;
        color: #0053fb;
    }
}
// .swiper2 {
//     height: .9rem;
// }
.deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .38rem .51rem .38rem .37rem;

    div {
        display: flex;

        span {
            display: block;
            width: .4rem;
            height: .34rem;
            background-image: url(../../images/bg.png);
            background-position: -.94rem -1.55rem ;
            background-size: 6.86rem;
        }
        p {
            margin-left: .23rem;
            font-size: .3rem;
            line-height: 1;
            color: #1b1b1b;
        }
    }
    .num {
        font-size: .36rem;
        line-height: 1;
        color: #f00;
    }
}
.line {
    width: 100%;
    height: .09rem;
    background: #eee;
}
.titles {
    box-sizing: border-box;
    padding-left: .31rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.main {
    box-sizing: border-box;
    padding: 0 .42rem;

    .product {
        display: flex;
        box-sizing: border-box;
        border-bottom: .01rem solid #eee;
        padding: .44rem 0;

        img {
            display: block;
            margin-right: .32rem;
            border-radius: .06rem;
            width: 2.08rem;
            height: 1.63rem;
        }
        .right {
            flex: 1;
            position: relative;

            .title {
                margin-bottom: .16rem;
                font-size: .3rem;
                font-weight: bolder;
                line-height: 1;
                color: #303030;
            }
            .num {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #535353;
            }
            .texts {
                display: flex;
                align-items: center;
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: rgba($color: #303030, $alpha: .9);

                span {
                    display: block;
                    margin-right: .16rem;
                    width: .17rem;
                    height: .19rem;
                    background-image: url(../../images/bg.png);
                    background-position: -2.22rem -2.21rem ;
                    background-size: 6.86rem;
                }
            }
            .price {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #535353;

                i {
                    font-size: .3rem;
                    color: #f00;
                }
            }
            .address {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #959595;
            }
            .label {
                display: flex;
                margin-bottom: .16rem;

                span {
                    display: block;
                    box-sizing: border-box;
                    margin-right: .15rem;
                    padding: .04rem .07rem;
                    font-size: .24rem;
                    line-height: 1;
                    color: #fff;
                    background: #0053fb;
                    border-radius: .05rem;
                }
                p {
                    display: block;
                    box-sizing: border-box;
                    margin-right: .15rem;
                    padding: .05rem .09rem;
                    font-size: .24rem;
                    line-height: 1;
                    color: #0053fb;
                    background: rgba($color: #0053fb, $alpha: .1);
                    border-radius: .05rem;
                }
            }
        }
    }
}
.gomore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .76rem auto;
    width: 6.64rem;
	height: .9rem;
    // background-color: #e5edff;
    background-color: rgba($color: #0053fb, $alpha: .1);
    border-radius: .1rem;
    font-size: .3rem;
    line-height: 1;
    color: #0053fb;
}
.mt24 {
    margin-top: .24rem;
}
.mb14 {
    margin-bottom: .14rem;
}
.taps-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: .42rem;

        span {
            display: block;
            margin: .22rem;
            width: .6rem;
            height: .6rem;
        }
        .title {
            font-size: .26rem;
            line-height: 1;
            color: #1b1b1b;
            text-align: center;
        }
        .types {
            background-image: url(../../images/bg.png);
            background-position: -.28rem -4.4rem ;
            background-size: 6.86rem;
        }
        .basic-metals {
            background-image: url(../../images/bg.png);
            background-position: -1.08rem -4.4rem ;
            background-size: 6.86rem;
        }
        .small-metals {
            background-image: url(../../images/bg.png);
            background-position: -1.76rem -4.44rem ;
            background-size: 6.86rem;
        }
        .ferroalloy {
            background-image: url(../../images/bg.png);
            background-position: -2.52rem -4.4rem ;
            background-size: 6.86rem;
        }
        .rare-earth {
            background-image: url(../../images/bg.png);
            background-position: -3.86rem -4.4rem ;
            background-size: 6.86rem;
        }
        .supply {
            background-image: url(../../images/bg.png);
            background-position: -5.25rem -4.31rem ;
            background-size: 6.86rem;
        }
        .want-buy {
            background-image: url(../../images/bg.png);
            background-position: -6.04rem -4.37rem ;
            background-size: 6.86rem;
        }
        .logistics {
            background-image: url(../../images/bg.png);
            background-position: -3.4rem -5.26rem ;
            background-size: 6.86rem;
        }
        .quality-testing {
            background-image: url(../../images/bg.png);
            background-position: -4.12rem -5.26rem ;
            background-size: 6.86rem;
        }
    }
}
.metals-type {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .57rem .3rem .13rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.6rem;
        height: 1.26rem;
        background-color: #eee;
        border-radius: .1rem;
        font-size: .3rem;
        line-height: 1;
        color: #0053fb;
    }
}
.advert {
    margin: 0 auto;
    margin-top: .45rem;
    background: #f0f;
    width: 6.87rem;
	height: 1.79rem;
}
