.titles {
    box-sizing: border-box;
    padding: .77rem 0 .33rem .51rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem .46rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.18rem;
        height: 1.1rem;
        border-radius: .1rem;
        font-size: .36rem;
        line-height: 1;
        font-weight: bold;
    }
    .next {
        color: #fff;
        background-color: #0053fb;
    }
    .pre {
        color: #8d8a9c;
        background-color: #e5e5e5;
    }
}
.mt1 {
    margin-top: 1rem;
}
.desc {
    box-sizing: border-box;
    padding: .3rem;
    padding-left: 1.93rem;
    font-size: .24rem;
    line-height: .36rem;
    color: #8d8a9c;
}