.banner {
    width: 100%;
    height: 4.65rem;

    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: .76rem;
        height: .38rem;
        background-color: rgba($color: #000000, $alpha: .54);
        border-radius: .04rem;
        font-size: .24rem;
        line-height: 1;
        color: #fff;
        left: 85%;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.main {
    box-sizing: border-box;
    padding:  .54rem .41rem .65rem;
    background: #fff;
    
    .label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.09rem;
        height: .33rem;
        background-color: #0053fb;
        border-radius: .05rem;
        font-size: .24rem;
        line-height: 1;
        color: #fff;
    }
    .title {
        padding-top: .2rem;
        font-size: .36rem;
        line-height: 1;
        color: #000;
    }
    .price {
        display: flex;
        align-items: flex-end;
        padding: .4rem 0 .62rem;
        font-size: .26rem;
        line-height: 1;
        color: #959595;

        span {
            font-size: .36rem;
            line-height: 1;
            color: #f00;
        }
    }
    .content {
        display: flex;
        padding-bottom: .42rem;

        div {
            flex: 1;
            flex-shrink: 0;
            display: flex;
            font-size: .26rem;
            line-height: 1;
            opacity: .8;

            span {
                display: block;
                color: #7d7d7d;
            }
            i {
                display: block;
                color: #000;
            }
        }
    }
    .head-title {
        div {
            display: flex;
            font-size: .26rem;
            line-height: 1;
            color: #000;

            span {
                display: block;
            }
            i {
                display: block;
                padding-left: .22rem;
                opacity: .6;
            }
        }
        .lines {
            margin-top: .26rem;
            width: 100%;
            height: .1rem;
            background: #000;
        }
    }
    .mt17 {
        margin-top: .17rem;
    }
    .mt54 {
        margin-top: .54rem;
    }
    table {
        margin-top: .47rem;
        width: 100%;
        font-size: .26rem;
        line-height: 1;
        color: #434343;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        .w21 {
            width: 2.1rem;
        }
        .w24 {
            width: 2.4rem;
        }
        .w215 {
            width: 2.15rem;
        }
        td {
            box-sizing: border-box;
            border-left: 1px solid #e5e5e5;
            border-top: 1px solid #e5e5e5;
            padding: .2rem;
            padding-right: 0;
            height: 1.35rem;

            div{
                padding-bottom: .2rem;
            }
        }
    }
    .img1 {
        display: block;
        margin: .42rem 0 1.27rem 0;
        width: 3.6rem;
        height: 3.4rem;
    }
    .img2 {
        display: block;
        margin-top: .44rem;
        width: 100%;
        height: auto; 
    }
}
.line {
    width: 100%;
    height: .18rem;
    background: #eee;
}
.list {
    margin-top: .54rem;

    .list-titles {
        box-sizing: border-box;
        padding-left: .31rem;
        font-size: .36rem;
        line-height: 1;
        color: #000;
    }
    .list-main {
        box-sizing: border-box;
        padding: 0 .42rem;
    
        .product {
            display: flex;
            box-sizing: border-box;
            border-bottom: .01rem solid #eee;
            padding: .44rem 0;
    
            img {
                display: block;
                margin-right: .32rem;
                border-radius: .06rem;
                width: 2.08rem;
                height: 1.63rem;
            }
            .right {
                flex: 1;
                position: relative;
    
                .title {
                    margin-bottom: .16rem;
                    font-size: .3rem;
                    font-weight: bolder;
                    line-height: 1;
                    color: #303030;
                }
                .num {
                    margin-bottom: .16rem;
                    font-size: .18rem;
                    line-height: 1;
                    color: #535353;
                }
                .texts {
                    display: flex;
                    align-items: center;
                    margin-bottom: .16rem;
                    font-size: .18rem;
                    line-height: 1;
                    color: rgba($color: #303030, $alpha: .9);
    
                    span {
                        display: block;
                        margin-right: .16rem;
                        width: .17rem;
                        height: .19rem;
                        background-image: url(../../images/bg.png);
                        background-position: -2.22rem -2.21rem ;
                        background-size: 6.86rem;
                    }
                }
                .price {
                    margin-bottom: .16rem;
                    font-size: .18rem;
                    line-height: 1;
                    color: #535353;
    
                    i {
                        font-size: .3rem;
                        color: #f00;
                    }
                }
                .address {
                    margin-bottom: .16rem;
                    font-size: .18rem;
                    line-height: 1;
                    color: #959595;
                }
                .label {
                    display: flex;
                    margin-bottom: .16rem;
    
                    span {
                        display: block;
                        box-sizing: border-box;
                        margin-right: .15rem;
                        padding: .04rem .07rem;
                        font-size: .24rem;
                        line-height: 1;
                        color: #fff;
                        background: #0053fb;
                        border-radius: .05rem;
                    }
                    p {
                        display: block;
                        box-sizing: border-box;
                        margin-right: .15rem;
                        padding: .05rem .09rem;
                        font-size: .24rem;
                        line-height: 1;
                        color: #0053fb;
                        background: rgba($color: #0053fb, $alpha: .1);
                        border-radius: .05rem;
                    }
                }
            }
        }
    }
}
.white {
    width: 100%;
    height: 1.52rem;
    background: #fff;
}
.shop-cart {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 2.06rem;
    width: 2.69rem;
	height: .98rem;
	background-color: #fff;
	box-shadow: .04rem .03rem .15rem .01rem 
		rgba(210, 210, 210, 0.41);
    border-radius: .49rem 0 0 .49rem;
    
    span {
        display: block;
        margin: 0 .2rem 0 .34rem;
        width: .3rem;
        height: .3rem;
        background-image: url(../../images/bg.png);
        background-position: -1.21rem -2.18rem ;
        background-size: 6.86rem;
    }
    p {
        display: block;
        font-size: .3rem;
        line-height: 1;
        color: #0053fb;
    }
}
.footers {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: .26rem .46rem .26rem .68rem;
    background: #fff;
    width: 100%;
    height: 1.52rem;

    .photo {
        flex-shrink: 0;
        display: block;
        margin-right: .2rem;
        width: .84rem;
        height: 1rem;
    }
    .content {
        flex: 1;

        .name {
            display: flex;
            margin-top: .2rem;

            span {
                display: block;
                margin-right: .28rem;
                font-size: .3rem;
                line-height: 1;
                color: #000;
            }
            i {
                display: block;
                width: .35rem;
                height: .31rem;
                background-image: url(../../images/bg.png);
                background-position: -1.72rem -2.18rem ;
                background-size: 6.86rem;
            }
        }
        .type {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: .12rem;
            width: .9rem;
            height: .32rem;
            background-color: #eee;
            border-radius: .1rem;
            font-size: .2rem;
            color: rgba($color: #0053fb, $alpha: .7)
        }
    }
    .btns {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .1rem;
        width: 1.69rem;
        height: 1rem;
        font-size: .3rem;
        line-height: 1;
        color: #fff;
    }
    .call {
        margin-right: .15rem;
        background-color: #32b16c;
    }
    .buy {
        background-color: #0053fb;
    }
}
.show-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: .6);

    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: .37rem .92rem .5rem;
        width: 5.22rem;
        height: 7.22rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid 1px #e5e5e5;
    
        .top {
            display: flex;
            align-items: center;
            width: 100%;
            height: 1rem;

            .photo {
                flex-shrink: 0;
                display: block;
                margin-right: .2rem;
                width: .84rem;
                height: 1rem;
            }
            .content {
                flex: 1;

                .name {
                    display: flex;
                    margin-top: .2rem;

                    span {
                        display: block;
                        margin-right: .28rem;
                        font-size: .3rem;
                        line-height: 1;
                        color: #000;
                    }
                    i {
                        display: block;
                        width: .35rem;
                        height: .31rem;
                        background-image: url(../../images/bg.png);
                        background-position: -1.72rem -2.18rem ;
                        background-size: 6.86rem;
                    }
                }
                .type {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: .12rem;
                    width: .9rem;
                    height: .32rem;
                    background-color: #eee;
                    border-radius: .1rem;
                    font-size: .2rem;
                    color: rgba($color: #0053fb, $alpha: .7)
                }
            }
        }
        p {
            display: block;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
        }
        .ercode {
            display: block;
            width: 3.37rem;
            height: 3.37rem;
        }
    }
    .close {
        display: block;
        margin-top: 1.1rem;
        width: .52rem;
        height: .52rem;
    }
}
