blockquote, body, button, code, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Microsoft YaHei';
}
header{
    width: 100%;
    position: relative;
    z-index: 999;
    border-bottom: 1px solid #f0f0f0;
}
.title-nav-li1 {
    position: relative;
    width: 120px!important;
    height: 14px;
    text-align: right;
    overflow: hidden;
}
.title-nav-li1>a{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 14px;
    width: 106px!important;
    height: 14px!important;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
img{
    border: 0;
}
a{
    text-decoration: none;
}
.p-color{
    color:#999;
}
.title-box{
    width: 100%;
    background-color: #f5f5f5;
}
.nav-cell-li5{
    position: relative;
}
.nav-cell-li5>img{
    position: absolute;
    right: -3px;
    top: 4px;
}
.title{
    width: 1196px;
    height: 36px;
    font-size: 12px;
    color: #666;
    margin: 0 auto;
}
.title-one{
    width: 330px;
    float: left;
}
.title-one p{
    line-height: 36px;
}
.title-two{
    width: 200px;
    float: left;
    line-height: 36px;
}
.i-phone-icon{
    margin: -3px 3px 0 0 ;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/index/indexImages.png") no-repeat -282px -20px;
}
.title-three{
    float: right;
}
.title-three .title-nav{
    list-style: none;
    line-height: 14px;
    height: 14px;
    margin-top: 10px;
}
.title-nav li{
    float: left;
    text-align: center;
}

.title-nav li a{
    color: #999999;
    text-decoration: none;
}
.title-nav li a:hover{
    color: #de3943;
}
.title-nav-li1,.title-nav-li2,.title-nav-li3,.title-nav-li4,.title-nav-li5,.title-nav-li6{
    border-right: 1px solid #e3e3e3;
}
.title-nav-li1,.title-nav-li2{
    width: 50px;
}
.loadafter{
    width: 170px;
    overflow: hidden;
    height: 20px;
}
.title-nav-li3{
    width: 116px;
}
.i-member-icon{
    width: 14px;
    height: 13px;
    display: inline-block;
    background: url("../images/index/indexImages.png") no-repeat -10px -26px;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.i-complain-icon{
    width: 14px;
    height: 15px;
    display: inline-block;
    background: url("../images/index/top_icon_ts@2x.png") no-repeat;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.i-member-icon1{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/index/indexImages.png") no-repeat -38px -24px;
    vertical-align: middle;
    margin: -3px 3px 0 0;
}
.title-nav-li4{
    width: 78px;
}
.title-nav-li5{
    width: 86px;
}
.title-nav-li6{
    width:86px;
    text-align:right;
    float: right;
}
.title-nav-li7{
    width:91px;
    text-align:right!important;
    float: right;
    border: none;
}

.header{
    width: 1200px;
    margin: 0 auto;
}
.product-search{
    height: 60px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
}
.logo_icon{
    width: 158px;
    height: 38px;
    display: block;
    margin-right: 116px;
    margin-top: 22px;
    float: left;
}
.logo_icon img{
    width: 100%;
    height: 100%;
}
.titleNav{
    width: 924px;
    height: 40px;
    float: left;
    margin-top: 20px;
    font-size: 16px;
}
.nav-cell-item{
    width: 924px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.nav-cell-item li{
    list-style: none;
    float: left;
}
.nav-cell-item li:last-child{
    float: right;
}
.nav-cell-item li a{
    text-decoration: none;
    color: #333333;
    padding: 0 0 5px;
    margin: 0 40px 0 0;
}
.nav-cell-item li a.lastA{
    margin-right: 0;
    text-decoration: none;
}
.ali:hover{
    color: #f52432;
}
li a.homeActive{
    color: #f52432;
}
.search-div{
    width: 698px;
    height: 32px;
    margin-top: 25px;
    float: right;
    font-size: 14px;
    border-radius: 5px;
    display: none;
}
.search-item{
    width: 696px;
    height: 30px;
    float: right;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.product-select{
    text-align: center;
    width: 56px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    overflow: hidden;
}
.i-search-icon{
    width: 20px;
    height: 20px;
    background: url("../images/index/indexImages.png") no-repeat -245px -21px;
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}
.search-item i.i-search-icon{
    float: right;
    margin: 5px 10px 5px 0;
}
.product-select select{
    border: 0;
    padding: 5px 2px 4px 5px;
    outline: none;
    width: 56px;
}
.product-select select option{
    border: 0;
    outline: none;
}
.search-input{
    width: 580px;
    height: 30px;
    border: 0;
    outline: none;
    padding-left: 10px;
    border-left: 1px solid #e6e6e6;
}

/*footer*/
footer{
    width: 100%;
    height: 286px;
    border-top:1px solid #dcdcdc;
    font-size: 12px;
    margin-top: 40px;
    background-color: #323232;
}
.about-div{
    height:122px;
    width: 1200px;
    margin: 0 auto 24px;
    padding-bottom: 32px;
    padding-top: 24px;
    border-bottom: 1px solid #393939;
    position: relative;
}
.nav-cell-li4{
    position: relative;
}
.nav-cell-li4>img {
    position: absolute;
    right: 0;
    top: 0;
}
.about-div-left{
    float: left;
    width: 855px;
    height: 96px;
    color: #b3b5ba;
    margin: 16px 0 0 20px;
}
.about-div-left div{
    width: 230px;
    height: 100%;
    border-right: 1px dashed #4c4c4d;
    float: left;
}
div.about-div-left-icon1{
    width: 148px;
}
.about-div-left-icon2{
    width: 230px;
}

.us-icon{
    width: 56px;
    height: 44px;
    display: block;
    float: left;
    background: url("../images/index/bot1.png") no-repeat;
}
.members-icon{
    width: 56px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 82px;
    background: url("../images/index/bot2.png") no-repeat;
}
.deal-icon{
    width: 56px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 82px;
    background: url("../images/index/bot3.png") no-repeat;
}
.questions-icon{
    width: 56px;
    height: 44px;
    display: block;
    float: left;
    margin-left: 82px;
    background: url("../images/index/bot4.png") no-repeat;
}
.about-div-left-icon ul{
    float: right;
    margin-right: 14px;
    height: 96px;

}
.about-div-left-icon ul li{
    list-style: none;

}
.about-div-left-icon ul li a{
    text-decoration: none;
    color: #b3b5ba;
}
.about-div-left-icon ul li a:hover{
    color:#ffffff;
}
li.foot-li{
    margin-top: 10px;
}
.serviceTel{
    float: right;
    height: 122px;
    width: 230px;
    margin-right: 22px;
}
.serviceTel-p1{
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}
.serviceTel-p2{
    margin-top: 16px;
    color: #999999;
    margin-bottom: 16px;
    text-align: right;
    font-size: 14px;
}
.mailbox{
    width: 182px;
    height: 83px;
    position: absolute;
    top: 16px;
    right: 0;
    display: none;
}
.bth-div{
    width: 194px;
    height: 40px;
    margin-left: 28px;
    color: #333334;
    text-align: center;
}
.service-icon{
    width: 24px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
    margin:-2px 0 0 0;
    background: url("../images/homeImg/shouye.png") no-repeat -12px -463px;
}
.bth-div a{
    color: #333334;
    display: block;
    text-decoration: none;
    float: left;
    width: 90px;
    height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
a.btn-service{
    float: left;
}
a.btn-mail{
    float: right;
}

.small-top{
    width: 462px;
    margin: 0 auto 0;
    text-align: center;
    color: #75787e;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}

.small-bot{
    width: 758px;
    height: 14px;
    text-align: center;
    margin: 10px auto 36px;
    color: #75787e;
    font-size: 14px;
}
.i-small-icon{
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    background: url("../images/index/indexImages.png") no-repeat -178px -369px;
}
/*分页*/
.pages{
    text-align: center;
    overflow: hidden;
    margin-top: 38px;
    position: relative;

}
.pages div{
    overflow: hidden;
    text-align: center;
    display: inline-block;
}
.pages a{
    display:inline-block;
    text-decoration: none;
    color: #333333;
    float: left;
    padding:8px 16px;
    border-radius: 5px;
}
.pages div a:not(:first-child){
    margin-left: 10px;
}
.pages div a:not(:first-child),.pages div a:not(:last-child){
    border: 1px solid #c8c8c8;
}
.pages div a[disabled] {
    color: #c8c8c8;
    background-color:#fff;
}

.pages div a.active{
    color: #fff;
    background-color:#d70c19;
    border: none;
}
.side-right-box{
    width: 40px;
    height: 212px;
    position: fixed;
    top:250px;
    right: 42px;
    z-index: 1500;
}
.side-right-box a{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 2px;
}

.side-right-box a:first-child{
    background: url("../images/homeImg/youce.png") -9px -10px;
}
.side-right-box a:first-child:hover{
    background: url("../images/homeImg/youce.png") -59px -10px;
}
.side-right-box a:first-child+a{
    background: url("../images/homeImg/youce.png") -9px -52px;
}
.side-right-box a:first-child+a:hover{
    background: url("../images/homeImg/youce.png") -59px -52px;
}
.side-right-box a+a+a{
    background: url("../images/homeImg/youce.png") -9px -94px;
}
.side-right-box a+a+a:hover{
    background: url("../images/homeImg/youce.png") -59px -94px;
}
.side-right-box a+a+a+a{
    background: url("../images/homeImg/wtgif.gif") 0 0;
}
.side-right-box a+a+a+a:hover{
    background: url("../images/homeImg/kw.png") 0 0;
}
.side-right-box a+a+a+a+a{
    background: url("../images/homeImg/youce.png") -9px -136px;
}
.side-right-box a+a+a+a+a:hover{
    background: url("../images/homeImg/youce.png") -59px -136px;
}

.mb{
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: #000000;
    top:0;
    left: 0;
    z-index: 999;
    opacity: 0.6;
    display: none;
}
.entrust{
    width: 640px;
    height: 420px;
    position: fixed;
    top:50%;
    margin-top: -210px;
    background-color: #fff;
    z-index: 999;
    left: 50%;
    margin-left: -360px;
    display: none;
}
.entrust-top{
    width: 612px;
    height: 36px;
    margin-left: 28px;
    margin-top: 10px;
}
.entrust-phone{
    font-size: 20px;
    color: #d80c18;
    font-weight: bold;
    float: left;
    margin-top: 14px;
}
.entrust-top img{
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.entrustP{
    font-size: 18px;
    font-weight: bold;
    color: #282828;
    margin: 10px 0 18px 28px;
}
.textDiv{
    width: 582px;
    height: 176px;
    border: 1px solid #c6c6c6;
    margin: 0 auto;
    border-radius: 5px;
}
.entrust textarea{
    margin-top: 10px;
    margin-left: 10px;
    width: 572px;
    height: 166px;
    border: 0;
    outline: none;
    resize:none;

}
.entrust-bot{
    width: 582px;
    height: 130px;
    margin: 12px auto 0;
}
.user-info{
    height: 36px;
    font-size: 12px;
    color: #282828;
}
.user-info-left{
    width: 48%;
    overflow: hidden;
    height: 38px;
    float: left;
}
.user-info-left p{
    float: left;
    font-weight: bold;
    line-height: 36px;
    margin-right: 12px;
}
.user-info-left div{
    float: left;
    width: 192px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    overflow: hidden;

}
.user-info-left div input{
    width: 192px;
    height: 36px;
    margin-left: 5px;
    border: 0;
    outline: none;
}
.right{
    float: right;
    width: 46%;
}
.submit-btn{
    width: 116px;
    height: 34px;
    background-color:#d80c18;
    text-align: center;
    color: #fdf4f4;
    line-height: 34px;
    margin-top: 30px;
    border-radius: 5px;
    float: right;
    outline: none;
    border: 0;
    cursor: pointer;
}
/*购物车弹窗*/
.joinshopping{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/member/opablack.png");
    z-index: 1700;
    display: none;
}
.joinshoppingbox{
    width: 392px;
    height: 224px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #9a9a9a;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/member/shppingcar.png") no-repeat #FFFFFF 94px 45px;
}
.joinshoppingboxp1{
    margin-left: 134px;
    margin-top: 49px;
    font-size: 16px;
    color: #333333;
}
.joinshoppingboxp2{
    font-size: 14px;
    color: #666666;
    margin-top: 27px;
    margin-left: 159px;
}
.joinshoppingboxp3{
    margin-top: 37px;
    overflow: hidden;
}
.joinshoppingboxp3 a:first-child{
    display: inline-block;
    float: left;
    background: #e00f1c;
    width: 114px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 78px;
}
.joinshoppingboxp3 a:first-child+a{
    display: inline-block;
    float: left;
    width: 114px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    font-size: 16px;
    color: #333333;
    background: #fafafa;
    margin-left: 24px;
}
.joinshopping img{
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}