*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Microsoft YaHei';
}
img{
    border: 0;
}
.p-color{
    color:#999;
}
header{
    width: 1200px;
    margin: 26px auto 24px;
}
header div{
    width: 207px;
    height: 50px;
}
header div img{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
}
.main-img{
    width: 100%;
    height: 476px;
    overflow: hidden;
    position: relative;
}
.main-img img{
    position: absolute;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
}
.login-main{
    width: 1200px;
    height: 475px;
    position: absolute;
    top:100px;
    left: 50%;
    margin-left: -600px;
}
.user-login{
    width: 370px;
    height: 374px;
    margin-top:50px;
    float: right;
    right: 0;
    background-color: #fff;

}
.login-box{
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.login-title{
    margin: 36px auto 0;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
}
.login-title p{
    float: left;
    font-size: 20px;
}
.login-title p+p{
    float: right;
    font-size: 16px;
}
.login-title p a{
    color: #d70c19;
    text-decoration: none;
}
.login-box input[type=text],.login-box input[type=password]{
    width: 288px;
    height: 42px;
    line-height: 40px;
    outline: none;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: inherit;
}
.username{
    margin: 30px 0 24px 0;
}
.user-option{
    overflow: hidden;
    margin-top: 50px;
    font-size: 12px;
    color: #999999;
}
.user-option label{
    float: left;
    cursor: pointer;
}
.user-option label input{
    vertical-align: middle;
}
.user-option a{
    float: right;
    text-decoration: none;
    color: #999999;
}
.user-option p input{
    vertical-align: middle;
    cursor: pointer;
}
.login-btn{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #d70c19;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    outline: none;
    border: 0;
    cursor: pointer;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.small-top{
    width: 462px;
    margin: 24px auto 0;
    text-align: center;
    color: #555555;
    font-size: 14px;
}
.small-bot{
    width: 758px;
    height: 14px;
    text-align: center;
    margin: 10px auto 36px;
    color: #999999;
    font-size: 14px;
}
.small-bot img{
    vertical-align: middle;
}
.small-bot a{
    color: #999999;
    text-decoration: none;
}

