﻿body {
}

.hide {
    display: none;
}
.show {
    display: block;
}
/*超级密码层*/
.yz{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    background: #f8f8fb;
    text-align: center;
}
.yz span{
    letter-spacing: 2px;
    font-size: 24px;
}
.SuperPsdBox{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/member/superpsd.png");
    z-index: 1501;
    display: none;
}
.SuperBox{
    position: absolute;
    width: 440px;
    height: 294px;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.closepsd{
    position: absolute;
    right: 16px;
    top: 18px;
    cursor: pointer;
}
.SuperBoxhead{
    width: 440px;
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    padding-left: 14px;
}
.SuperBoxheads1{
    font-size: 16px;
    font-weight: bold;
    color: #323232;
}
.SuperBoxheads2{
    font-size: 12px;
    color: #989898;
    margin-left: 10px;
}
.SuperList{
    width: 292px;
    height: 198px;
    margin-left: 75px;
    margin-top: 24px;
    position: relative;
}
.seePsd{
    position: absolute;
    right: 9px;
    top: 13px;
    cursor: pointer;
}
.SuperList input{
    border: none;
    outline: none;
}
.noticeSuper{
    position: absolute;
    top: 20px;
    left: 0px;
    padding-left: 20px;
    background: url("../images/member/JG.png") no-repeat left;
    background-position: 0px 2px;
    font-size: 14px;
    color: orange;
    font-size: 12px;
}
.noticeSuper2{
    top: 79px;
}
.SuperListpt1{
    width: 292px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccccc!important;
    box-sizing: border-box;
    padding-left: 14px;
}
.SuperListpt2{
    width: 138px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #cccccc!important;
    border-radius: 5px;
    padding-left: 14px;
    margin-top: 20px;
    float: left;
}
.SuperList .yanzheng{
    display: inline-block;
    width: 94px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    margin-top: 20px;
    margin-left: 13px;
}
.yanzheng>img{
    width: 94px;
    height: 40px;
}
.super_next{
    display: inline-block;
    float: right;
   font-size: 13px;
    margin-top: 30px;
    margin-left: 4px;
    color: #959595;
}
.super_next:hover{
    color: #4594ff;
}
.sub{
    width: 292px;
    height: 40px;
    border-radius: 5px;
    background: #f52432;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 18px;
}
.SuperList>p{
    margin-top: 22px;
    overflow: hidden;
}
.SuperList>p>a{
    float: right;
    color: #4594ff;
    font-size: 14px;
}