.companyList {
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    margin-left: .45rem;
    padding-bottom: .26rem;
    
    .btns {
        position: absolute;
        top: .93rem;
        right: .31rem;
        width: 1.15rem;
        height: .54rem;
        background-color: #3998f4;
        border-radius: .1rem;
        font-size: .26rem;
        line-height: .54rem;
        justify-content: center;
        color: #fff;
    }
    .companyName {
        padding: .38rem 0;
        font-size: .3rem;
        line-height: 1;
        color: #282828;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    div {
        display: flex;

        span {
            display: block;
            margin-top: .08rem;
            margin-right: .15rem;
            width: .22rem;
            height: .28rem;
        }
        .name {
            background-image: url(../../images/bg.png);
            background-position: -5.06rem -3.42rem ;
            background-size: 6.86rem;
        }
        .tel {
            background-image: url(../../images/bg.png);
            background-position: -5.66rem -3.42rem ;
            background-size: 6.86rem;
        }
        .address {
            background-image: url(../../images/bg.png);
            background-position: -6.25rem -3.42rem ;
            background-size: 6.86rem;
        }
        p {
            display: block;
            margin-bottom: .08rem;
            width: 5.6rem;
            font-size: .24rem;
            line-height: .4rem;
            color: #535353;
        }
    }
}
