*{font-family:"Microsoft Yahei"}
body{background-color:#f9f9f9;color:#666;font-size:12px;margin:0;padding:0}
.inputList{display:inline-block;padding:5px 0}
.inputList label{padding:0 5px}
.inputList input{border:none}
input.text,select.edit,textarea.text{border:1px solid #eee;border-radius:5px;font-size:14px;margin:0 5px;padding:5px;width:200px}
input.text-narrow,select.edit-narrow,textarea.text-narrow{border:1px solid #eee;border-radius:5px;font-size:14px;margin:0 5px;padding:5px;width:120px}
select.editFree{border:1px solid #eee;border-radius:5px;font-size:14px;margin:0 5px;padding:5px}
input.text-wide,select.edit-wide,textarea.text-wide{border:1px solid #eee;border-radius:5px;font-size:14px;margin:0 5px;padding:5px;width:350px}
input.text-long,select.edit-long,textarea.text-long{border:1px solid #eee;border-radius:5px;font-size:14px;margin:0 5px;padding:5px;width:600px}
input.textsmall,select.editsmall{border:1px solid #eee;border-radius:5px;font-size:12px;margin:0 2px;padding:2px;width:120px}
.checkedCheckBox label{background-color:#D00;color:#FFF}
a{color:#1E5494;text-decoration:none}
img{border:none}
a,address,blockquote,body,button,caption,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,span,td,textarea,th,ul{margin:0;padding:0}
pre{white-space:pre-wrap;word-break:break-all;word-wrap:break-word}
.closeframe{background-image:url(../img/delete.gif);border:none;cursor:pointer;display:block;height:16px;margin-top:2px;position:absolute;right:0;top:0;width:16px}
.loadingInline{background-image:url(../img/loading-16.gif);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.loading{-moz-opacity:.5;background-color:#fff;background-image:url(../img/loading-64.gif);background-position:center center;background-repeat:no-repeat;filter:alpha(opacity=50);left:0;opacity:.5;overflow:hidden;position:absolute;top:0;z-index:9999}
.loadingIframe{background-image:url(../img/loaderc.gif);background-repeat:no-repeat;height:32px;left:50%;margin:-16px 0 0 -16px;overflow:hidden;position:fixed;top:50%;width:32px;z-index:9999}
a.submit,input.submit{background-color:#0181cb;background-image:-moz-linear-gradient(top,#87cbff,#0181cb);background-image:-webkit-linear-gradient(top,#87cbff,#0181cb);border:1px solid #027ac5;border-radius:5px;color:#fff;cursor:pointer;display:inline-block;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr="#87cbff", endColorstr="#0181cb");font-size:14px;line-height:14px;margin-right:5px;padding:8px 10px;text-align:center;width:120px}
a.submit:hover,input.submit:hover{background-image:-moz-linear-gradient(top,#0181cb,#87cbff);background-image:-webkit-linear-gradient(top,#0181cb,#87cbff);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr="#0181cb", endColorstr="#87cbff")}
a.btn,input.btn{background-color:#fcfbfb;background-image:-moz-linear-gradient(top,#fff,#e1e1e1);background-image:-webkit-linear-gradient(top,#fff,#e1e1e1);border:1px solid #ccc;border-radius:5px;color:#000;cursor:pointer;display:inline-block;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr="#ffffff", endColorstr="#e1e1e1");font-size:14px;line-height:14px;margin-right:5px;padding:8px 10px;text-align:center;width:120px}
a.btn:hover,input.btn:hover{background-image:-moz-linear-gradient(top,#e1e1e1,#fff);background-image:-webkit-linear-gradient(top,#e1e1e1,#fff);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr="#e1e1e1", endColorstr="#ffffff")}
a.btnWhite,input.btnWhite{background-color:#fff;border:1px solid #ddd;border-radius:5px;color:#666;cursor:pointer;display:inline-block;font-size:12px;line-height:12px;margin-right:5px;padding:8px 10px;text-align:center;width:80px}
a.btnWhite:hover,input.btnWhite:hover{background-color:#eee}
a.btnOrange,input.btnOrange{background-color:#f60;border:1px solid #f60;border-radius:5px;color:#fff;cursor:pointer;display:inline-block;font-size:12px;line-height:12px;margin-right:5px;padding:8px 10px;text-align:center;width:80px}
a.btnGreen,input.btnGreen{background-color:#ECFAD0;border:1px solid #72A50B;border-radius:5px;color:#72A50B;cursor:pointer;display:inline-block;font-size:12px;line-height:12px;margin-right:5px;padding:8px 10px;text-align:center;width:80px}
a.btnPink,input.btnPink{background-color:#FFFAF7;border:1px solid #FF6700;border-radius:5px;color:#FF6700;cursor:pointer;display:inline-block;font-size:12px;line-height:12px;margin-right:5px;padding:8px 10px;text-align:center;width:80px}
.button-area{margin:30px auto 0 auto;text-align:center}
.submit-message{display:block;line-height:1.5em;margin:10px auto;text-align:center}
.hidden{display:none}
.padding-left{padding-left:5px}
.padding-right{padding-right:5px}
.padding-horizontal{padding-left:5px;padding-right:5px}
.padding-top{padding-top:5px}
.padding-bottom{padding-bottom:5px}
.padding-vertical{padding-bottom:5px;padding-top:5px}
.text-indent{text-indent:2em}
.color-darkred{color:red!important}
.color-red,.error{color:#f60!important}
.color-green{color:#080!important}
.color-blue{color:#126bc9!important}
.color-gray{color:#ababab!important}
.color-orange{color:#ff7f00!important}
.font-bold{font-weight:700!important}
.font-monospaced{font-family:"Courier New",Terminal!important}
.font-delete{text-decoration:line-through}
.font-underline{border-bottom-style:solid;border-bottom-width:1px}
.bottom-area{color:#999;margin:50px auto;text-align:center}
.clear{clear:both}
.break{word-break:break-all;word-wrap:break-word}
.fl-r-force{float:right}
.fl-l-force{float:left}
.fl-r{float:right}
.fl-l{float:left}
.single_container_lite{text-align:center}
.single_inner_lite{padding:10px}
.single_inner_lite h1{font-size:20px}
.single_container{margin:0 auto;width:400px}
.single_inner{background-color:#FFF;border:1px solid #D4D4D4;border-radius:5px;padding:20px;word-break:break-all;word-wrap:break-word}
.single_inner h1{color:#333;font-size:18px;line-height:1.5em;margin:0 auto 20px auto;padding:0}
.single_inner h2{color:#666;font-size:14px;line-height:1.5em;margin:10px;padding:0}
.single_inner p{line-height:1.5em}
.fancyBoxTitle{color:#8d8d8d;font-size:16px;line-height:1.5em;padding:10px}
.actionbutton{display:block;margin:30px auto 0 auto;text-align:center}
.block-small{display:block;height:10px}
.block{display:block;height:20px}
.block-high{display:block;height:40px}
.block-higher{display:block;height:80px}
.block-huge{display:block;height:60px}
.frameBody{display:block;padding:10px 20px}
.frameText{color:#999;display:block;line-height:1.5em}
.frameBlock-wide{display:block;margin:20px auto;width:500px}
.frameBlock-wide .input{display:block;font-size:14px;margin:0 auto 5px auto}
.frameBlock-wide .input span.head{display:inline-block;text-align:right;width:100px}
.frameBlock{margin:20px auto;width:250px}
.input{display:block;margin:0 auto 5px auto}
.input span.head{display:inline-block;text-align:right;width:60px}
.input span.head-wide{display:inline-block;text-align:right;width:150px}
span.space{display:inline-block;width:5px}
.alignleft{text-align:left}
.aligncenter{text-align:center}
.alignright{text-align:right}
.logo-area{margin:0 auto;padding:60px 0;width:960px}
.cnfeol-logo{float:left}
.account-logout{color:#ababab;float:right;font-size:14px;line-height:33px}
.account-logout a{color:#ababab}
.account-logout a:hover{color:#f60}
.account-menu-container{margin:0 auto;width:960px}
.account-menu{height:20px;padding:20px}
.account-menu ul{list-style-type:none}
.account-menu ul li{color:#333;cursor:pointer;float:left;font-size:14px;font-weight:700;padding:0 20px;text-align:center}
.account-menu ul li a:hover,.account-menu ul li.current,.account-menu ul li.current a,.account-menu ul li:hover{color:#f60}
.account-menu ul li a{color:#333}
.account-membername{color:#333;float:right;font-size:14px;font-weight:700;padding-right:10px}
.title-superbig{color:#333;font-size:24px;font-weight:700;line-height:1.5em}
.title-big{color:#333;font-size:20px;font-weight:700;line-height:1.5em}
.title-normal{color:#555;font-size:14px}
ul.ul-list-nonedot{list-style-type:none;margin:5px auto;padding:0}
ul.ul-list-nonedot li{line-height:1.5em;text-indent:2em}
.date{display:inline-block;padding-right:10px;text-align:right;width:150px}
.text-superbig{color:#8d8d8d;font-size:18px;line-height:1.5em}
.text-huge{color:#8d8d8d;font-size:22px;line-height:1.5em}
.text-big{color:#8d8d8d;font-size:16px;line-height:1.5em}
.text-normal{color:#8d8d8d;font-size:14px;line-height:1.5em}
.text-small{color:#8d8d8d;font-size:12px;line-height:1.5em}
.text-micro{color:#8d8d8d;font-size:10px;line-height:1.5em}
.solidborder{border:1px solid #000}
.edit-row-short{height:20px;line-height:1.5em}
.edit-row-short:hover{font-weight:700}
.edit-row{height:35px;line-height:3em}
.edit-row-high{height:50px;line-height:2em}
.edit-row-high .valignmiddle{height:50px;line-height:50px;padding-top:10px}
.edit-row-higher{height:70px;line-height:2em}
.edit-row-huge{height:90px;line-height:2em}
.edit-row label,.edit-row-high label,.edit-row-higher label,.edit-row-huge label,.seriesTab label{font-size:14px;margin-right:10px;padding-left:2px}
table.datalist{border-bottom:1px #ababab solid;border-collapse:collapse;border-left:none;border-right:0;border-top:0;margin:0 auto;width:100%}
table.datalist tr:hover{background-color:#f4f7fa}
table.datalist th{background-color:#f1f1f1;border-bottom:1px #e1e1e1 solid;border-top:1px #e1e1e1 solid;padding:5px}
table.datalist td{border-bottom:1px #e1e1e1 solid;padding:5px}
.pager{color:#999;font-size:12px}
.pager a{color:#999;padding:0 5px}
.pager a:hover{color:#666}
.pager .currentPage{background-color:#f60;border-radius:3px;color:#fff;display:inline-block;padding:2px 8px}
.blank{display:block;height:1px}
.break-line{background-color:#eee;display:block;height:1px;margin:10px auto}
.edit-area{margin:10px auto;width:960px}
.edit-area-radius{background-color:#fff;border:1px solid #ccc;border-radius:10px;padding:35px}
.center-area{margin:0 auto;width:400px}
img.validatecode{cursor:pointer;margin-bottom:-10px}
.imageBorder{border:1px solid #ddd!important;border-radius:3px;margin:0 10px 10px 0}
.imageBorder:hover{border:1px solid #f60!important}
.seriesTab{margin:10px auto}
.seriesTab ul{list-style-type:none}
.seriesTab ul li{background-color:#f7f7f7;border-bottom:none;border-left:1px solid #ccc;border-right:none;border-top:1px solid #ccc;display:inline-block;float:left;margin:0;padding:0}
.seriesTab ul li:last-child{border-right:1px solid #ccc}
.seriesTab ul li:hover{background-color:#fff;border-bottom:none;border-left:1px solid #ccc;border-right:none;border-top:1px solid #ccc}
.seriesTab ul li:last-child:hover{border-bottom:none;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc}
.seriesTab ul li a{color:#333;display:inline-block;font-size:14px;padding:5px 10px}
.seriesContainer{border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;padding:10px}
.login-area-container{margin:100px auto;padding:0 5px;text-align:center}
.logo-simple{margin:0 auto 20px auto}
.intro{margin:20px auto 50px auto}
.login-input-container{background-color:#fff;border:1px solid #ccc;border-radius:5px;margin:0 auto 20px auto;width:300px}
.login-input-container .screenname{border-bottom:1px solid #ccc;padding:5px 0;position:relative}
.login-input-container .screenname .mobileico{background-image:url(../img/mobile-ico.gif);background-position:center center;background-repeat:no-repeat;cursor:pointer;display:inline-block;height:25px;margin-top:-3px;position:relative;top:5px;width:25px;z-index:9}
.login-input-container .screenname .qrcodeico{background-image:url(../img/qr-ico.gif);background-position:center center;background-repeat:no-repeat;cursor:pointer;display:inline-block;height:25px;margin-top:-3px;position:relative;right:5px;top:5px;width:25px;z-index:9}
.login-input-container .screenname .existscreenname{font-size:14px;font-weight:700;padding:5px 10px}
.login-input-container .screenname .existscreenname .imgclearscreenname{background-image:url(../img/delete.gif);background-position:0 0;background-repeat:no-repeat;border:none;display: inline-block;position: relative;height: 16px;margin-top: 2px;margin-right: 5px;width:16px}
.login-input-container .screenname .existscreenname .imgclearscreenname:hover{background-image:url(../img/delete-hover.gif)}
.login-input-container .password{padding:5px 0}
.login-input-container .password input,.login-input-container .screenname input,.login-input-container .validate input{border:none;font-size:14px;font-weight:700;width:280px}
.login-input-container .validate{border-top:1px solid #ccc;padding:5px 0}
.login-area-container .loginbutton{padding:10px 0!important;width:302px!important}
.login-option{height:20px;line-height:20px;margin:20px auto;text-align:right;width:302px}
.login-option img{-webkit-filter:grayscale(100%);margin-bottom:-4px;padding-left:2px}
.login-option img:hover{-webkit-filter:grayscale(0)}
.login-option a{color:#8d8d8d;text-decoration:none}
.login-option a:hover{color:#f60;text-decoration:none}
.mobileNumbers{font-size:24px;font-weight:700;line-height:2em;margin:10px auto;text-align:center}
.thirdparty{padding-right:20px}
.thirdparty a{color:#ababab}
.thirdparty a:hover{color:#f60}
