.pannel-index-que-answer-left .content img{
    display: none;
}
.pannel-index .question-controll{
    text-decoration: none;
    font-family: MicrosoftYaHei;
    font-size:14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0px;
    color: #0053fb;
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    height:30px;
    line-height: 30px;
    box-sizing: border-box;
}
.no-answer{
    width: 100%;
    height: 4rem;
}
.no-answer p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    text-indent: inherit;
}
.pannel-index-que-answer-right .num{
}
.pannel-index-que-answer-right .foot-icon-noup{
    width: 2rem;
    color: #e6e6e6;
    font-size: 0.3rem;
}
.pannel-index-que-answer-right .foot-icon-up{
    width: 2rem;
    color: #0053fb;
    font-size: 0.3rem;
}
.pannel-index-que-answer-right>a{
    text-decoration: none;
    color: #0053fb;
    font-size: 14px;
}
/*图标样式*/
.heart label {
    /*box-shadow: 0px 0px 0px 0px rgba(226, 32, 44, 0.5);*/
    box-shadow: 0px 0px 0px 0px rgba(44, 32, 226, 0.5);
}
.heart label:after {
    /*content: "\f004";*/
    content: "\f25a";
}
.heart input:checked + label {
    /*background-color: #e2202c;*/
    /*border-color: #e2202c;*/
    background-color: #0053fb;
    border-color: #0053fb;
    box-shadow: 0px 0px 0px 0.5em rgba(226, 32, 44, 0);
}
.heart input:checked + label:after {
    /*color: #e2202c;*/
    color: #0053fb;
}
.star label {
    box-shadow: 0px 0px 0px 0px rgba(253, 192, 47, 0.5);
}
.star label:after {
    content: "\f005";
}
.star input:checked + label {
    background-color: #fdc02f;
    border-color: #fdc02f;
    box-shadow: 0px 0px 0px 0.5em rgba(253, 192, 47, 0);
}
.star input:checked + label:after {
    color: #fdc02f;
}
.bookmark label {
    box-shadow: 0px 0px 0px 0px rgba(13, 165, 142, 0.5);
}
.bookmark label:after {
    content: "\f02e";
}
.bookmark input:checked + label {
    background-color: #0da58e;
    border-color: #0da58e;
    box-shadow: 0px 0px 0px 0.5em rgba(13, 165, 142, 0);
}
.bookmark input:checked + label:after {
    color: #0da58e;
}
.anim-icon {
    width: 1.9em;
    height: 1.9em;
    margin: 5px;
    font-size: 13px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.anim-icon input {
    display: none;
}
.anim-icon label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0.1em solid #ccc;
    border-radius: 100%;
    display: block;
    font: normal normal normal 13px/1 FontAwesome;
    color: #ccc;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.anim-icon label:after {
    left: 0;
    top: 50%;
    margin-top: -0.5em;
    display: block;
    position: relative;
    text-align: center;
}
.anim-icon input:checked + label {
    -webkit-animation: check-in 0.3s forwards;
    animation: check-in 0.3s forwards;
    -webkit-transition: background-color 0.1s 0.2s, box-shadow 1s;
    transition: background-color 0.1s 0.2s, box-shadow 1s;
    border-width: 0.1em;
    border-style: solid;
}
.anim-icon input:checked + label:after {
    -webkit-animation: icon .3s forwards;
    animation: icon .3s forwards;
}
.anim-icon-md {
    font-size: 20px;
}
.anim-icon-lg {
    font-size: 30px;
}
@-webkit-keyframes icon {
    0% {
        margin-top: -0.5em;
        font-size: 1.5em;
    }
    100% {
        font-size: 1em;
        opacity: 1;
        color: white;
    }
}
@keyframes icon {
    0% {
        margin-top: -0.5em;
        font-size: 1.5em;
    }
    100% {
        font-size: 1em;
        opacity: 1;
        color: white;
    }
}
@-webkit-keyframes check-in {
    0% {
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }
    80% {
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
    }
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes check-in {
    0% {
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }
    80% {
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
    }
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
@-webkit-keyframes check {
    0% {
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
    10% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    80% {
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
    }
    90% {
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes check {
    0% {
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
    10% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    80% {
        left: -5%;
        top: -5%;
        width: 110%;
        height: 110%;
    }
    90% {
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;
    }
    100% {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.pannel-index-res-content{
    font-size:0.3rem;
}
.pannel-index-res-content img{
    width:50%;
}