.titles {
    box-sizing: border-box;
    padding: .77rem 0 .33rem .51rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem .46rem;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.18rem;
        height: 1.1rem;
        border-radius: .1rem;
        font-size: .36rem;
        line-height: 1;
        font-weight: bold;
    }
    .next {
        color: #fff;
        background-color: #0053fb;
    }
    .pre {
        color: #8d8a9c;
        background-color: #e5e5e5;
    }
}
.mt1 {
    margin-top: 1rem;
}
.uploadImages {
    box-sizing: border-box;
    margin-left: .51rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .4rem .31rem 0 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;

    .left {
        width: 1.56rem;
        color: #000;
    }
    .right {
        flex: 1;

        .photo {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border: .02rem solid #e5e5e5;
            border-radius: .1rem;
            width: 1.76rem;
            height: 1.76rem;
            background: #fff;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        p {
            display: block;
            margin: .24rem 0;
            font-size: .24rem;
            line-height: 1;
            color: #d2d2d2;
        }
    }
}