.topTaps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .6rem;

    span {
        display: block;
        font-size: .34rem;
        font-weight: bold;
        line-height: 1;
        color: #000;
    }
    .active {
        color: #0053fb;
    }
}
.type {
    box-sizing: border-box;
    padding: 0 .25rem;

    .typeList {
        display: flex;
        overflow-x: auto;

        .item {
            display: block;
	        border-radius: .23rem;
            flex-shrink: 0;
            box-sizing: border-box;
            margin-right: .35rem;
            border: 0;
            padding: .11rem .29rem;
            font-size: .28rem;
            line-height: 1;
            color: #666;
        }
        .checked {
            color: #fff;
            background-color: #0053fb;
        }
    }
}
.c8 {
    color: #8d8a9c;
    border: 1px solid #8d8a9c;
}
.c6 {
    color: #666;
    border: 1px solid #666;
}
.c7 {
    color: #ff4747;
    border: 1px solid #ff4747;
}
.main {
    .productList {
        box-sizing: border-box;
        padding-top: .31rem;

        .line {
            width: 100%;
            height: .18rem;
            background: #f0f0f0;
        }
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 .22rem;

            div {
                display: flex;
                font-size: .3rem;
                line-height: 1;
                
                span {
                    display: block;
                    color: #2d2d2e;
                }
                i {
                    display: block;
                    color: #666;
                }
            }
            p {
                font-size: .24rem;
                line-height: 1;
                color: #ff4747;
            }
        }
        .list {
            display: flex;
            box-sizing: border-box;
            padding: .31rem .27rem .35rem 0;

            img {
                flex-shrink: 0;
                display: block;
                margin: 0 .25rem 0 .22rem;
                width: 1.69rem;
                height: 1.69rem;
            }
            .content {
                flex: 1;

                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i {
                        display: block;
                        font-size: .3rem;
                        line-height: 1;
                        color: #000;
                        width: 3.5rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    span {
                        display: block;
                        font-size: .24rem;
                        line-height: 1;
                        color: #666;
                    }
                }
                .name {
                    padding: .48rem 0;
                    font-size: .24rem;
                    line-height: 1;
                    color: #666;
                }
                .price {
                    font-size: .3rem;
                    line-height: 1; 
                    color: #ff4747;
                }
            }
        }
        .total {
            box-sizing: border-box;
            padding: .17rem .25rem .27rem 0;
            font-size: .24rem;
            line-height: 1;
            color: #000;
            text-align: right;
        }
        .bottom {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            box-sizing: border-box;
            margin-left: .22rem;
            border-top: 1px solid #c5c6c6;
            padding: .25rem 0;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .25rem;
                width: 1.6rem;
                height: .56rem;
                background-color: #fff;
                border-radius: .27rem;
                font-size: .24rem;
                line-height: 1;
            }
        }
    }
}