.type {
    box-sizing: border-box;
    padding: 0 .46rem;

    .typeList {
        display: flex;
        overflow-x: auto;

        .item {
            flex-shrink: 0;
            box-sizing: border-box;
            margin-right: .7rem;
            border: 0;
            padding: .18rem .05rem;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            opacity: 0.8;
        }
        .checked {
            color: #0053fb;
            border-bottom: .04rem solid #0053fb;
        }
    }
}
.main {
    box-sizing: border-box;
    padding: .04rem .42rem;

    .product {
        display: flex;
        box-sizing: border-box;
        padding: .44rem 0;

        img {
            display: block;
            margin-right: .32rem;
            border-radius: .06rem;
            width: 2.08rem;
            height: 1.63rem;
        }
        .right {
            flex: 1;
            position: relative;

            .title {
                margin-bottom: .36rem;
                font-size: .3rem;
                line-height: 1;
                color: #303030;
            }
            .num {
                margin-bottom: .5rem;
                font-size: .18rem;
                line-height: 1;
                color: #535353;
            }
            .price {
                font-size: .18rem;
                line-height: 1;
                color: #535353;

                i {
                    font-size: .3rem;
                    color: #f00;
                }
            }
            .more {
                position: absolute;
                right: 0;
                bottom: 0;
                width: .42rem;
                height: .35rem;
                background-image: url(../../images/bg.png);
                background-position: -4.72rem -1.56rem;
                background-size: 6.86rem;
            }
            .operate {
                position: absolute;
                right: 0;
                bottom: -2.7rem;
                z-index: 1;
                border-radius: .1rem;
                border: solid 1px #e5e5e5;
                background-color: #fff;
                
                span {
                    display: block;
                    box-sizing: border-box;
                    padding: .2rem .8rem;
                    font-size: .26rem;
                    line-height: 1;
                    color: #959595;
                    text-align: center;
                    background-color: #fff;
                }
            }
        }
    }
}
.taps {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .01rem solid #e5e5e5;

    span {
        display: block;
        box-sizing: border-box;
        padding: .18rem .24rem;
        font-size: .3rem;
        line-height: 1;
        color: #282828;
    }
    span + span {
        margin-left: 1rem;
    }
    .checked {
        color: #0053fb;
        border-bottom: .06rem solid #0053fb;
    }
}