.taps {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .01rem solid #e5e5e5;

    span {
        display: block;
        box-sizing: border-box;
        padding: .18rem .24rem;
        font-size: .3rem;
        line-height: 1;
        color: #282828;
    }
    span + span {
        margin-left: 1rem;
    }
    .checked {
        color: #0053fb;
        border-bottom: .06rem solid #0053fb;
    }
}
.QList, .AList {
    .question, .answer {
        box-sizing: border-box;
        border-bottom: .01rem solid #e5e5e5;
        padding: .5rem .3rem;

        .title {
            font-size: .32rem;
            line-height: .48rem;
            color: #000;
        }
        .num, .time {
            margin-top: .3rem;
            font-size: .24rem;
            line-height: 1;
            color: #7e8396;
        }
        .desc {
            margin-top: .16rem;
            font-size: .28rem;
            line-height: .48rem;
            color: #434343;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}
.nomore {
    box-sizing: border-box;
    padding: .6rem 0;
    font-size: .28rem;
    line-height: 1;
    color: #7e8396;
    text-align: center;
    background: #eee;
}