html{
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing:0px;
}
p{
    display: flex;
    margin:0rem;
}
body{
    margin:0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow-x: hidden;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
/*隐藏部分内容*/
.parent-relative{
    position: relative;
    height:600px;
    overflow: hidden;
}
.login-hidden{
    background: url("../indexDefault/loginHidden.png");
    width: 100%;
    min-height: 150px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 150px;
}
.login-hidden a{
    text-decoration: none;
    font-size: 15px;
    color: #0053fb;
}
/*隐藏部分内容*/
.hidden-block{
    display: none;
}
.pannel-header{
    width:100%;height:1.49rem;display: flex;flex-direction: row;align-items: center;padding:0rem 0.3rem;box-sizing: border-box;justify-content:space-between;background: #fff;
}
.pannel-header a{
    display: inline-block;
    background-image: url(../indexDefault/icon.png);
    background-size: 6.86rem;
}
.pannel-header .pannel-header-icon{
    width: 1.9rem;
    height: .7rem;
    background-position: -.3rem -.44rem;
}
.pannel-header .pannel-header-search-icon{
    width: 25px;
    height: 25px;
    background-position: 386px -106px;
}
.pannel-header .pannel-header-seach{
    width: .79rem;
    height: .79rem;
    background-position: -2.45rem -.32rem;
    /*margin-right: .32rem;*/
}
.pannel-header input{
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: 0px solid #999;
    padding: 0px 20px;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
    background: #f5f5f5;
}
.pannel-header .pannel-header-input-seach{
    position: absolute;
    right: 0px;
    top: 3px;
    width: 30px;
    height: 30px;
    background-position: 564px -22px;
    margin-right: 12px;
}
.pannel-header .pannel-header-nav{
    width: .79rem;
    height: .79rem;
    background-position: -3.67rem -.32rem;
}
.fix-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    padding:5px;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px #e5e5e5;
    position: fixed;
    right: 15px;
    top: 70px;
    box-sizing: border-box;
    display: none;
    z-index: 9999;
}
.fix-nav a{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 15px;
    color: #434343;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.pannel-index{
    background: #fff;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px 14px;
}
.pannel-index-thickline{
    background-color: #eeeeee;
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0.1rem 0rem;
}
.pannel-index>a{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 0.4rem;
}
.pannel-index .content{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.sheet{
    position: relative;
    left: 0px;
    top:0px;
    z-index: 950;
    overflow: visible;
}
.sheetAttr{
    width: 88%;
    overflow: hidden;
    overflow-x: scroll;
    display: inline-block;
}
.fix-nav-sheet{
    position:fixed;
    top:0px;
    left:0px;
}
.fix-nav-sheetAttr{
    position:fixed;
    top:50px;
    left:0px;
}
/*问答*/

.pannel-index-res-updown{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pannel-index-res-updown a{
    height: 50px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.foot-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-image: url('../indexDefault/icon.png');
    background-size: 400px;
}
.foot-icon-two{
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    overflow: hidden;
    background-image: url('../indexDefault/icon.png');
    background-size: 6.86rem;
}
.foot-icon-save{
    background-position: 158px -125px;
}
.foot-icon-nosave{
    background-position: 140px -125px;
}
.pannel-index-res-updown .foot-icon-num{
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    margin-left:5px;
    color:#666;
    font-size: 12px;
}
.pannel-index-underline{
    width:100%;
    border-top:1px solid #f7f5f5;
}
/*资源*/
.pannel-index-res-title{
    width:100%;
}
.pannel-index-res-title p{
    margin: 0.2rem 0rem;
    /*font-size: 16px;*/
    /*font-size: 0.4rem;*/
    font-size: 100%;
    font-weight: bold;
    line-height: 0.6rem;
    color: #000000;
}
.pannel-index-res-content{
    width:100%;
    color: #626262;
    /*font-size: 0.3rem;*/
    font-size: 80%;
}
.pannel-index-res-content p{
    line-height: 180%;
    margin: 5px 0px 0px;
    text-indent: 2em;
}
.pannel-index-res-img{
    width:100%;
}
.pannel-index-res-img img{
    width: 100%;
    height: 160px;
    margin-top: 20px;
    border-radius: 5px;
}
.pannel-index-res-attr{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    height: 1rem;
}
.pannel-index-res-attr span{
    padding: 5px 10px;
    background: #edf7fb;
    border-radius: 5px;
    font-size: 12px;
    color: #0053fb;
    margin-right:0.2rem;
}
/*问答*/
.pannel-index-que-title{
    width:100%;
    color: #000;
}
.pannel-index-que-title p{
    margin: 0.2rem 0rem;
    /*font-size: 16px;*/
    /*font-size: 0.4rem;*/
    font-size: 100%;
    font-weight: bold;
    line-height: 0.6rem;
    color: #000000;
}
.pannel-index-que-answer{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.pannel-index-que-answer-left{
    width: 65%;
    float: left;
}
.pannel-index-que-answer-left p{
    font-size: 0.3rem;
    line-height: 0.5rem;
}
.pannel-index-que-answer-left .content img{
    display: none;
}
.pannel-index-que-answer-right{
    width: 30%;
    float: right;
    line-height: 1rem;
    text-align: right;
}
.pannel-index-que-attr{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
}
.pannel-index-que-attr span{
    padding: 5px 10px;
    background: #edf7fb;
    border-radius: 5px;
    font-size: 12px;
    color: #0053fb;
    margin-right:0.2rem;
}
.pannel-index-que-content{
    width:100%;
    color: #626262;
    /*font-size: 0.3rem;*/
    font-size: 80%;
}
.pannel-index-que-content>a{
    font-size: 0.3rem;
    text-decoration: none;
    color: #0C0C0C;
}
.pannel-index-que-content p{
    line-height: 180%;
    margin: 5px 0px 0px;
}
.pannel-index-que-img{
    width:100%;
}
.pannel-index-que-img img{
    width: 100%;
    height: 160px;
    margin-top: 20px;
    border-radius: 5px;
}
.pannel-index-que-updown{
    height: 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pannel-index-que-updown a{
    height: 0.6rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.pannel-index-que-updown .foot-icon-num{
    display: inline-block;
    width: 60px;
    height: 20px;
    line-height: 20px;
    margin-left:5px;
    color:#666;
    font-size: 12px;
}
/*报价*/
.formpoint-lable{
    width:100%;height:1rem;display: flex;flex-direction: row;justify-content: flex-start; align-items: center;
}
.formpoint-lable .formpoint-lable-font{
    font-size:0.4rem;
    float: left;
}
.formpoint-lable .formpoint-lable-icon{
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.05rem;
    background-position: -.31rem -1.51rem;
}
.pannel-index-formpoint-title{
    height: 40px;
    line-height: 40px;
    background: #f5f5f5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pannel-index-formpoint-title .title-item{
    font-size: 10px;
    color: #535353;
}
.pannel-index-formpoint-title .title-item-firstColumn{
    width: 60%;float:left;text-align: left;padding-left:15px;box-sizing: border-box;
}
.pannel-index-formpoint-title .title-item-secondColumn{
    width: 20%;float:left;text-align: center;
}
.pannel-index-formpoint-title .title-item-thirdColumn{
    width: 20%;float:left;text-align: center;
}
.pannel-index-formpoint-list{
    line-height: 60px;
    height: 60px;
    background: #f5f5f5;
    padding: 5px 0px;
    font-size: 13px;
    border-bottom: 1px solid #fff;
}
.pannel-index-formpoint-foot{
    height:50px;display: flex;flex-direction: row;justify-content: center; align-items: center;
    background: #f5f5f5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
}
.pannel-index-formpoint-foot a{
    letter-spacing:0.5px;
    color: #535353;
    text-decoration: none;
}
/*首页*/
.index-login{
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.index-login .iconOk{
    margin-top:.3rem;width: 0.4rem;height: 0.4rem;background-position: -5.325rem -1.57rem;
}
.index-login .iconFox{
    margin-top: .3rem;
    width: 0.4rem;
    height: 0.4rem;
    background-position: -3.3rem -2.15rem;
}
.index-login .iconVip{
    margin-top: .3rem;
    width: 0.4rem;
    height: 0.4rem;
    background-position: -5.9rem -1.57rem;
}
.index-login a{
    display: block;
    height: 0.8rem;
    line-height: 1rem;
    font-size: 0.3rem;
    color: #626262;
}
.index-login .index-login-notice{
    color: #0053fb;
    text-decoration: none;
}
/*商城*/
.pannel-index .supple-list{
    color: #666;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 0rem;
    border-bottom: 1px solid #f7f5f5;
}
.pannel-index .showMoreProduct{
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 0.1rem;
    border: solid 1px #0053fb;
    font-size: 0.3rem;
    font-weight: bold;
    color: #0053fb;
    margin: 0.3rem 0rem;
}
.pannel-index .supple-list>img{
    width: 2.5rem;
    height: 2rem;
    border-radius: 0.1rem;
}
.pannel-index .supple-name{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0px;
    padding-left:10px;
    color: #333;
}
.pannel-index .supple-item{
    font-size: 12px;
    padding: 2px 0px;
    padding-left:10px;
}
/*导航*/
.pannel-index .index-navigation{
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.index-navigation a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #282828;
    font-size: 16px;
}
.index-navigation a span{
    display: block;
}
.index-navigation a .underline-nav{
    width: 100%;
    height: 3px;
    background-color: #0053fb;
    border-radius: 3px;
    position: relative;
    top: -10px;
}
/*公告*/
.pannel-index .index-notice{
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    background-color:#e6ebf7;
    border-radius: 5px;
}
.pannel-index .index-notice a{
    width: 100%;
    font-size: .28rem;
    color: #0053fb;
    opacity: 0.6;
    text-decoration: none;
    padding:0rem .28rem;
}
/*报表*/
.report-navigation{
    display: flex;
    width:1500px;
    height: 40px;
    line-height: 40px;
    background: #fff;
}
.report-navigation-getMore{
    display: inline-block;
    width: 0.6rem;
    height: 0.5rem;
    background: #fff;
    background-image: url(../indexDefault/icon.png);
    background-size: 470px;
    background-position: 620px -117px;
    box-shadow: 0px 7px 7px -7px #5E5E5E;
    transform: rotate(90deg);
    float: right;
    position: relative;
    left: 0rem;
    top: 0.2rem;
}
.report-navigation a{
    display: inline-block;
    padding: 0px 15px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    margin: 0px 5px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 14px;
    border: solid 1px #e5e5e5;
    font-size: 12px;
    color: #000000;
    opacity: 0.8;
}
.report-navigation>a{
    margin-left:0px;
}
.report-navigation .select-item{
    background-color: #7e8396;
    border: solid 1px #e5e5e5;
    color: #ffffff;
}
/*动画*/
.flex-block{
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.flex-block>a{

    animation:mymove 0.5s forwards;
    -webkit-animation:mymove 0.5s forwards; /* Safari 和 Chrome */
}
@keyframes mymove
{
    from {
        width:80%;
        font-size: 0.32rem;
        /*width:50%;*/
        /*font-size: 0.2rem;*/
    }
    to {
        width:100%;
        font-size: 0.4rem;
    }
}

@-moz-keyframes mymove /* Firefox */
{
    from {
        width:80%;
        font-size: 0.32rem;
    }
    to {
        width:100%;
        font-size: 0.4rem;
    }
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
    from {
        width:80%;
        font-size: 0.32rem;
    }
    to {
        width:100%;
        font-size: 0.4rem;
    }
}

@-o-keyframes mymove /* Opera */
{
    from {
        width:80%;
        font-size: 0.32rem;
    }
    to {
        width:100%;
        font-size: 0.4rem;
    }
}