.mt10 {
    margin-top: .1rem;
}
.mt70 {
    margin-top: .7rem;
}
.mt50 {
    margin-top: .5rem;
}
.deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: .38rem .51rem .38rem .37rem;

    div {
        display: flex;

        span {
            display: block;
            width: .4rem;
            height: .34rem;
            background-image: url(../../images/bg.png);
            background-position: -.94rem -1.55rem ;
            background-size: 6.86rem;
        }
        p {
            margin-left: .23rem;
            font-size: .3rem;
            line-height: 1;
            color: #1b1b1b;
        }
    }
    .num {
        font-size: .36rem;
        line-height: 1;
        color: #f00;
    }
}
.line {
    width: 100%;
    height: .09rem;
    background: #eee;
}
.titles {
    box-sizing: border-box;
    padding-left: .31rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}
.main {
    box-sizing: border-box;
    padding: 0 .42rem;

    .product {
        display: flex;
        box-sizing: border-box;
        border-bottom: .01rem solid #eee;
        padding: .44rem 0;

        img {
            display: block;
            margin-right: .32rem;
            border-radius: .06rem;
            width: 2.08rem;
            height: 1.63rem;
        }
        .right {
            flex: 1;
            position: relative;

            .title {
                margin-bottom: .16rem;
                font-size: .3rem;
                font-weight: bolder;
                line-height: 1;
                color: #303030;
            }
            .num {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #535353;
            }
            .texts {
                display: flex;
                align-items: center;
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: rgba($color: #303030, $alpha: .9);

                span {
                    display: block;
                    margin-right: .16rem;
                    width: .17rem;
                    height: .19rem;
                    background-image: url(../../images/bg.png);
                    background-position: -2.22rem -2.21rem ;
                    background-size: 6.86rem;
                }
            }
            .price {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #535353;

                i {
                    font-size: .3rem;
                    color: #f00;
                }
            }
            .address {
                margin-bottom: .16rem;
                font-size: .18rem;
                line-height: 1;
                color: #959595;
            }
            .label {
                display: flex;
                margin-bottom: .16rem;

                span {
                    display: block;
                    box-sizing: border-box;
                    margin-right: .15rem;
                    padding: .04rem .07rem;
                    font-size: .24rem;
                    line-height: 1;
                    color: #fff;
                    background: #0053fb;
                    border-radius: .05rem;
                }
                p {
                    display: block;
                    box-sizing: border-box;
                    margin-right: .15rem;
                    padding: .05rem .09rem;
                    font-size: .24rem;
                    line-height: 1;
                    color: #0053fb;
                    background: rgba($color: #0053fb, $alpha: .1);
                    border-radius: .05rem;
                }
            }
        }
    }
}
.gomore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .76rem auto;
    width: 6.64rem;
	height: .9rem;
    // background-color: #e5edff;
    background-color: rgba($color: #0053fb, $alpha: .1);
    border-radius: .1rem;
    font-size: .3rem;
    line-height: 1;
    color: #0053fb;
}
.mt24 {
    margin-top: .24rem;
}
.mb14 {
    margin-bottom: .14rem;
}
.advert {
    margin: 0 auto;
    margin-top: .45rem;
    background: #f0f;
    width: 6.87rem;
	height: 1.79rem;
}
.banner {
    height: 3.2rem;

    .swiper1 {
        width: 100%;
        height: 100%;
        
        .swiper-slide {
            box-sizing: border-box;
            padding: 0 .48rem;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.type {
    position: relative;
    box-sizing: border-box;
    padding: 0 1.3rem .09rem .46rem;
    height: 1.1rem;

    .more {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.1rem;
        height: 1.1rem;
        background: #fff;
        box-shadow: -.03rem 0px .37rem .02rem 
        rgba(220, 220, 220, 0.85);

        span {
            display: block;
            width: .4rem;
            height: .4rem;
            background-image: url(../../images/bg.png);
            background-position: -3.3rem -7.06rem ;
            background-size: 6.86rem;
        }
    }
    .typeList {
        display: flex;
        overflow-x: auto;
        border-top: 1px solid #e5e5e5;

        .item {
            flex-shrink: 0;
            box-sizing: border-box;
            margin-right: .7rem;
            border: 0;
            padding: .5rem .05rem .18rem;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            opacity: 0.8;
        }
        .checked {
            color: #0053fb;
            border-bottom: .04rem solid #0053fb;
        }
    }
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 666;
    width: 100%;
    height: 100%;
    display: flex;

    .left {
        flex: 1;
        background: rgba(0, 0, 0, .6);
    }
    .right {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 6rem;
        height: 100%;
        background: #fff;
        
        .top {
            display: block;
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .box {
            width: 100%;
            height: auto;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                box-sizing: border-box;
                padding: .33rem .37rem .31rem .42rem;

                span {
                    display: block;
                    font-size: .3rem;
                    line-height: 1;
                    color: #000;
                }
                i {
                    display: block;
                    width: .26rem;
                    height: .16rem;
                    background-image: url(../../images/bg.png);
                    background-position: -5.04rem -2.24rem ;
                    background-size: 6.86rem;
                }
            }
            .list {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                margin-right: -.27rem;
                padding: 0 .38rem 0 .42rem;
                border-bottom: .15rem solid #f2f2f2;

                span {
                    display: block;
                    margin-bottom: .25rem;
                    margin-right: .27rem;
                    width: 1.55rem;
                    height: .6rem;
                    background-color: #f2f2f2;
                    border-radius: .3rem;
                    font-size: .26rem;
                    line-height: .6rem;
                    text-align: center;
                }
                .checked {
                    box-sizing: border-box;
                    border: 1px solid #0053fb;
                    color: #0053fb;
                    background: #fff;
                }
            }
        }
        .btns {
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: .35rem .38rem;
            width: 100%;
            height: 1.54rem;
            background: #FFF;

            span {
                display: block;
                width: 2.52rem;
                height: .84rem;
                border-radius: .42rem;
                font-size: .26rem;
                line-height: .84rem;
                text-align: center;
            }
            .reset {
                color: #959595;
                background-color: #fff;
                border: solid 1px #e5e5e5;
            }
            .submit {
                color: #fff;
                background-color: #f00;
                border: solid 1px #f00;
            }
        }
    }
}
