.edits {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: .23rem;
    height: .86rem;
    background: #f6f5f5;

    span {
        display: block;
        margin-right: .2rem;
        width: .3rem;
        height: .3rem;
        background-image: url(../../images/bg.png);
        background-position: -3.25rem -7.09rem ;
        background-size: 6.86rem;
    }
    i {
        display: block;
        font-size: .3rem;
        color: #2a91fa;
        line-height: 1;
    }
}
.commodityList {
    box-sizing: border-box;
    padding-left: .24rem;
    padding-bottom: 1rem;

    .commodity {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c5c6c6;

        .checks {
            flex-shrink: 0;
            display: block;
            width: .41rem;
            height: .41rem;
            box-sizing: border-box;
            border: 1px solid #c5c6c6;
            background: #fff;
            border-radius: 50%;
        }
        .active {
            background-image: url(../../images/bg.png);
            background-position: -3.87rem -7.03rem ;
            background-size: 6.86rem;
            border: 0;
        }
        .content {
            flex: 1;
            display: block;
            box-sizing: border-box;
            padding: .34rem .24rem .35rem .46rem;

            .title {
                margin-bottom: .34rem;
                font-size: .3rem;
                line-height: 1;
                color: #2d2d2e;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .type {
                margin-bottom: .2rem;
                font-size: .24rem;
                line-height: 1;
                color: #666;
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .money {
                    display: block;
                    font-size: .3rem;
                    font-weight: bold;
                    line-height: 1;
                    color: #ff4747;
                }
                .num {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 1.89rem;
                    height: .56rem;
                    background-color: #fff;
                    border-radius: .27rem;
                    border: solid 1px #c5c6c6;
                    box-sizing: border-box;

                    span {
                        flex: 1;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        font-size: .3rem;
                        line-height: 1;
                        color: #000;
                    }
                    .count {
                        font-size: .28rem;
                        color: #2a91fa;
                    }
                }
            }
        }
    }
}
.settlement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: .24rem;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #c5c6c6;
    width: 100%;
    height: .98rem;

    .check {
        flex-shrink: 0;
        display: block;
        width: .41rem;
        height: .41rem;
        box-sizing: border-box;
        border: 1px solid #c5c6c6;
        background: #fff;
        border-radius: 50%;
    }
    .active {
        background-image: url(../../images/bg.png);
        background-position: -3.87rem -7.03rem ;
        background-size: 6.86rem;
        border: 0;
    }
    .text {
        font-size: .24rem;
        line-height: 1;
        color: #2d2d2e;
    }
    .blue {
        color: #2a91fa;
    }
    .price {
        font-size: .34rem;
        font-weight: bold;
        line-height: 1;
    }
    .notice {
        width: .48rem;
        font-size: .18rem;
        line-height: 1;
        color: #a0a2a2;
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.55rem;
        height: .98rem;
        background-color: #2a91fa;
        font-size: .3rem;
        line-height: 1;
        color: #fff;
    }
}
