.edits {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: .23rem;
  height: .86rem;
  background: #f6f5f5; }
  .edits span {
    display: block;
    margin-right: .2rem;
    width: .3rem;
    height: .3rem;
    background-image: url(../../images/bg.png);
    background-position: -4rem -7.12rem;
    background-size: 6.86rem;
  }
  .edits i {
    display: block;
    font-size: .3rem;
    color: #2a91fa;
    line-height: 1; }

.commodityList {
  box-sizing: border-box;
  padding-left: .24rem;
  padding-bottom: 1rem; }
  .commodityList .commodity {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c6c6; }
    .commodityList .commodity .checks {
      flex-shrink: 0;
      display: block;
      width: .41rem;
      height: .41rem;
      box-sizing: border-box;
      border: 1px solid #c5c6c6;
      background: #fff;
      border-radius: 50%; }
    .commodityList .commodity .active {
      background-image: url(../../images/bg.png);
      background-position: -4.96rem -5.39rem;
      background-size: 6.86rem;
      border: 0; }
    .commodityList .commodity .content {
      flex: 1;
      display: block;
      box-sizing: border-box;
      padding: .34rem .24rem .35rem .46rem; }
      .commodityList .commodity .content .title {
        margin-bottom: .34rem;
        font-size: .3rem;
        line-height: 1;
        color: #2d2d2e;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .commodityList .commodity .content .type {
        margin-bottom: .2rem;
        font-size: .24rem;
        line-height: 1;
        color: #666; }
      .commodityList .commodity .content .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .commodityList .commodity .content .bottom .money {
          display: block;
          font-size: .3rem;
          font-weight: bold;
          line-height: 1;
          color: #ff4747; }
        .commodityList .commodity .content .bottom .num {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 1.89rem;
          height: .56rem;
          background-color: #fff;
          border-radius: .27rem;
          border: solid 1px #c5c6c6;
          box-sizing: border-box; }
          .commodityList .commodity .content .bottom .num span {
            flex: 1;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: .3rem;
            line-height: 1;
            color: #000; }
          .commodityList .commodity .content .bottom .num .count {
            font-size: .28rem;
            color: #2a91fa; }

.settlement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: .24rem;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #c5c6c6;
  width: 100%;
  height: .98rem; }
  .settlement .check {
    flex-shrink: 0;
    display: block;
    width: .41rem;
    height: .41rem;
    box-sizing: border-box;
    border: 1px solid #c5c6c6;
    background: #fff;
    border-radius: 50%; }
  .settlement .active {
    background-image: url(../../images/bg.png);
    background-position: -4.96rem -5.39rem;
    background-size: 6.86rem;
    border: 0; }
  .settlement .text {
    font-size: .24rem;
    line-height: 1;
    color: #2d2d2e; }
  .settlement .blue {
    color: #2a91fa; }
  .settlement .price {
    font-size: .34rem;
    font-weight: bold;
    line-height: 1; }
  .settlement .notice {
    width: .48rem;
    font-size: .18rem;
    line-height: 1;
    color: #a0a2a2; }
  .settlement .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.55rem;
    height: .98rem;
    background-color: #2a91fa;
    font-size: .3rem;
    line-height: 1;
    color: #fff; }

.nothing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nothing .img {
    display: block;
    width: 1.1rem;
    height: 1.1rem; }
  .nothing p {
    display: block;
    margin: .71rem 0 .57rem 0;
    font-size: .34rem;
    line-height: 1;
    color: #666666; }
  .nothing span {
    display: block;
    width: 1.76rem;
    height: .72rem;
    background-color: white;
    border-radius: .1rem;
    border: solid 2px #3998f4;
    font-size: .3rem;
    line-height: .72rem;
    text-align: center;
    color: #3998f4; }

/*# sourceMappingURL=index.css.map */
