#app {
    padding-bottom: 1rem;
}
.titles {
    box-sizing: border-box;
    padding: .77rem 0 .33rem .51rem;
    font-size: .36rem;
    line-height: 1;
    color: #000;
}

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 6.64rem;
	height: 1.1rem;
	background-color: #0053fb;
    border-radius: .1rem;
    font-size: .36rem;
	font-weight: bold;
    line-height: 1;
    color: #fff;
}
.mt1 {
    margin-top: 1rem;
}
