.notice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 .39rem 0 .35rem;
    width: 100%;
    height: .72rem;
    background: #eee;

    span {
        display: block;
        font-size: .24rem;
        line-height: 1;
        color: #7e8396;
    }
    i {
        display: block;
        width: .18rem;
        height: .18rem;
        background-image: url(../../images/bg.png);
        background-position: -3.11rem -2.21rem ;
        background-size: 6.86rem;
    }
}
.head {
    margin: .36rem 0 .47rem .31rem;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(../../images/bg.png);
    background-position: -4.65rem -.09rem ;
    background-size: 6.86rem;
}
.form {
    box-sizing: border-box;
    padding-left: .42rem;

    .title {
        margin-bottom: .32rem;
        font-size: .4rem;
        line-height: 1;
        color: #7e8396;
    }
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding: 0 .37rem 0 .05rem;
        height: 1.2rem;

        span {
            display: block;
            font-size: .3rem;
            line-height: 1;
            color: #535353;
        }
        input, div {
            flex: 1;
            margin-right: .48rem;
            font-size: .3rem;
            line-height: 1;
            text-align: right;
            color: #535353;
        }
        i {
            display: block;
            width: .18rem;
            height: .32rem;
            background-image: url(../../images/bg.png);
            background-position: -.89rem -2.18rem ;
            background-size: 6.86rem;
        }
        div {
            width: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
button {
    display: block;
    margin: 1.87rem auto;
    width: 6.64rem;
	height: 1.1rem;
	background-color: #0053fb;
    border-radius: .1rem;
    font-size: .36rem;
    line-height: 1.1rem;
    text-align: center;
    color: #fff;
}
.mt64 {
    margin-top: .64rem;
}
