.taps {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .01rem solid #e5e5e5;

    span {
        display: block;
        box-sizing: border-box;
        padding: .18rem .24rem;
        font-size: .3rem;
        line-height: 1;
        color: #282828;
    }
    span + span {
        margin-left: 1rem;
    }
    .checked {
        color: #0053fb;
        border-bottom: .06rem solid #0053fb;
    }
}
.more {
    flex-shrink: 0;
    display: block;
    width: .56rem;
    height: .48rem;
    background-image: url(../../images/bg.png);
    background-position: -4.64rem -1.48rem;
    background-size: 6.86rem;
    position: relative;

    .operate {
        position: absolute;
        right: 0;
        bottom: -1.2rem;
        width: 2.14rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid .01rem #e5e5e5;

        span {
            display: block;
            padding: .15rem 0;
            width: 100%;
            font-size: .26rem;
            line-height: 1;
            color: #959595;
            text-align: center;
        }
    }
}
.informationList {
    box-sizing: border-box;
    padding: 0 .32rem;

    .information {
        box-sizing: border-box;
        border-bottom: .01rem solid #e5e5e5;
        padding: .45rem 0 .3rem;

        .title {
            margin-bottom: .3rem;
            font-size: .32rem;
            line-height: .48rem;
            color: #000;
        }
        .source {
            margin-bottom: .46rem;
            font-size: .24rem;
            line-height: 1;
            color: #959595;
        }
        .main {
            .desc {
                margin-bottom: .45rem;
                font-size: .24rem;
                line-height: .36rem;
                color: #626262;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            .oneBig {
                img {
                    display: block;
                    margin-bottom: .5rem;
                    border-radius: .1rem;
                    width: 100%;
                    height: 3.2rem;
                }
            }
            .oneSmall {
                display: flex;
                justify-content: space-between;

                .desc1 {
                    flex: 1;
                    margin-bottom: .45rem;
                    font-size: .24rem;
                    line-height: .36rem;
                    color: #626262;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                }
                img {
                    flex-shrink: 0;
                    display: block;
                    margin-left: .15rem;
                    border-radius: .1rem;
                    width: 1.9rem;
                    height: 1.32rem;
                }
            }
            .threeSmall {
                .imgList {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: .3rem;

                    img {
                        display: block;
                        border-radius: .1rem;
                        width: 2.22rem;
                        height: 1.59rem;
                    }
                }
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;

            .labelList {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
    
                span {
                    display: block;
                    margin: 0 .21rem .2rem 0;
                    padding: .12rem .28rem;
                    background-color: #e1f1f9;
                    border-radius: .1rem;
                    opacity: 0.6;
                    font-size: .24rem;
                    line-height: 1;
                    color: #0053fb;
                }
            }
        }
    }
}
.quotationList {
    box-sizing: border-box;
    padding: .32rem;

    .headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .24rem;

        .time {
            display: flex;
            align-items: center;
            font-size: .36rem;
            line-height: 1;
            color: #000;

            span {
                margin-left: .32rem;
                border: .01rem solid #e5e5e5;
                border-radius: .28rem;
                padding: .15rem .33rem;
                font-size: .24rem;
                line-height: 1;
                color: #000;
                opacity: .8;
            }
        }
    }
    .main {
       box-sizing: border-box;
       border-radius: .1rem;
       padding: .31rem .27rem 0;
       background: #f5f5f5;

       .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: .2rem;
            line-height: 1;
            color: #535353;

            .flex1 {
                flex: 1;
                display: block;
            }
            p {
                display: flex;

                span {
                    display: block;
                    width: 1.3rem;
                    text-align: right;
                }
            }
       }
       .item {
            padding: .3rem 0;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: .16rem;

                .title {
                    flex: 1;
                    display: block;
                    font-size: .3rem;
                    line-height: 1;
                    color: #535353;
                }
                p {
                    display: flex;
    
                    span {
                        display: block;
                        width: 1.3rem;
                        font-size: .2rem;
                        line-height: 1;
                        color: #535353;
                        text-align: right;
                    }
                }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    flex: 1;
                    display: flex;
                    font-size: .26rem;
                    line-height: .26rem;
                    color: #094;

                    i {
                        font-size: .18rem;
                        color: #535353;
                    }
                }
                .up {
                    color: #f00;
                }
                .down {
                    color: #094;
                }
                p {
                    display: flex;
                        
                    span {
                        display: block;
                        width: 1.3rem;
                        font-size: .26rem;
                        line-height: 1;
                        text-align: right;
                    }
                }
            }
       }
       .button {
           border-top: .01rem solid #e5e5e5;
           padding: .35rem 0;
           font-size: .26rem;
           line-height: 1;
           color: #535353;
           text-align: center;
       }
    }

}
.QAndAList {
    .QAndA {
        box-sizing: border-box;
        border-bottom: .01rem solid #e5e5e5;
        padding: .32rem;

        .title {
            margin-bottom: .3rem;
            font-size: .32rem;
            line-height: .48rem;
            color: #000;
        }
        .desc {
            font-size: .24rem;
            line-height: .36rem;
            color: #626262;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        .flexRight {
            display: flex;
            justify-content: flex-end;
            margin-bottom: .6rem;
        }
        .bottom {
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: block;
                    width: .3rem;
                    height: .3rem;
                }
                i {
                    display: block;
                    margin-left: .09rem;
                    font-size: .24rem;
                    line-height: 1;
                    color: #959595;
                }
                .share {
                    background-image: url(../../images/bg.png);
                    background-position: -3.67rem -1.57rem;
                    background-size: 6.86rem;
                }
                .news {
                    background-image: url(../../images/bg.png);
                    background-position: -3.12rem -1.57rem;
                    background-size: 6.86rem;
                }
                .like {
                    background-image: url(../../images/bg.png);
                    background-position: -2.55rem -1.57rem;
                    background-size: 6.86rem;
                }
                .blue {
                    color: #0053fb;
                }
            }
        }
    }
}
.nomore {
    box-sizing: border-box;
    padding: .6rem 0;
    font-size: .28rem;
    line-height: 1;
    color: #7e8396;
    text-align: center;
    background: #eee;
}