html {
	font-family: sans-serif;
}
html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    display: block;
	margin: 0;
	border: 0;
	padding: 0;
	font-style: normal;
}
html,
body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 1);
	-webkit-user-select: none;
	background-color: rgba(255, 255, 255, 1);
}
nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
	display: block;
}
header,
section,
footer {
	position: relative;
}
ol,
ul {
	list-style: none;
}
input,
button,
textarea {
	border: 0;
	margin: 0;
	padding: 0;
	/*-webkit-appearance:none;*/
	background-color: rgba(0, 0, 0, 0);
    outline: 0;
    resize: none;
}
a:active,
a:hover {
	outline: 0;
}
a,
a:visited {
	text-decoration: none;
}

label,
.wordWrap {
	word-wrap: break-word;
	word-break: break-all;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
.clearfix:after {
	content: ' ';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
i {
	font-style: normal;
}

$border-color: #e5e5e5;
