@import "api";

[v-cloak] {
    display: none !important;
}

.showMask {
    position: fixed;    
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.header {
    box-sizing: border-box;
    padding: .65rem .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo {
        display: block;
        width: 1.64rem;
        height: .56rem;
        background-image: url(../images/bg.png);
        background-position: -.3rem -.44rem;
        background-size: 6.86rem;
    }
    .btns {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn {
            display: block;
            width: .79rem;
            height: .79rem;
        }
        .searchs {
            background-image: url(../images/bg.png);
            background-position: -2.45rem -.32rem;
            background-size: 6.86rem;
        }
        .more {
            margin-left: .32rem;
            background-image: url(../images/bg.png);
            background-position: -3.67rem -.32rem;
            background-size: 6.86rem;
        }
    }
    .more-list {
        position: absolute;
        right: .3rem;
        bottom: -2.2rem;
        box-sizing: border-box;
        padding: .1rem;
        width: 2.69rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid 1px #e5e5e5;

        p {
            display: block;
            border-bottom: 1px solid #e5e5e5;
            padding: .28rem 0 .24rem;
            font-size: .3rem;
            line-height: 1;
            // color: #0053fb;
            text-align: center;

            &:last-child {
                border: none;
            }
        }
    }
}
.tops {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: .82rem 0 .35rem .41rem;

    .title {
        margin-left: .52rem;
        font-size: .32rem;
        line-height: 1;
        color: #000;
    }
}
.topBack {
    display: block;
    width: .37rem;
    height: 0.27rem;
    background-image: url(../images/bg.png);
    background-position: -3.7rem -2.2rem;
    background-size: 6.86rem;
}
.gray {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #eee;
}
//form-select组件样式
.form-select {
    box-sizing: border-box;
    margin-left: .51rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .4rem .31rem .4rem 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .form-title {
        width: 1.56rem;
        color: #535353;

        .red {
            position: relative;

            &::before {
                content: "*";
                position: absolute;
                left: -.15rem;
                top: 0rem;
                color: red;
            }
        }
    }
    .form-content {
        flex: 1;
        color: #8d8a9c;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .form-checked {
        color: #000;
    }
    .form-img {
        display: block;
        width: .18rem;
        height: .32rem;
        background-image: url(../images/bg.png);
        background-position: -.88rem -2.16rem ;
        background-size: 6.86rem;
    }
}
//form-input组件样式
.form-input {
    box-sizing: border-box;
    margin-left: .51rem;
    border-bottom: 1px solid #e5e5e5;
    flex: 1;
    padding: .4rem .31rem .4rem 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        width: 1.56rem;
        color: #000;

        .red {
            position: relative;

            &::before {
                content: "*";
                position: absolute;
                left: -.15rem;
                top: 0rem;
                color: red;
            }
        }
    }
    .content {
        flex: 1;
        width: 3rem;
        outline: 0;
        &::-moz-placeholder { color: #8d8a9c; }
        &::-webkit-input-placeholder { color:#8d8a9c; }
        &:-ms-input-placeholder { color:#8d8a9c; }
    }
    .unit {
        font-size: .3rem;
        line-height: 1;
        color: #535353;
    }
}
.select-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
        box-sizing: border-box;
        border-radius: .1rem .1rem 0 0;
        border-bottom: .01rem solid #e5e5e5;
        padding: .36rem 0 .34rem;
        font-size: .3rem;
        line-height: 1;
        color: #000;
        text-align: center;
        background: #fff;
    }
    .list {
        margin-bottom: .27rem;
        height: 6rem;
        overflow-y: auto;
        background-color: #fff;

        div {
            box-sizing: border-box;
            padding: .42rem 0;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
        }
        .choose {
            color: #0052fb;
        }
    }
    .list1 {
        display: flex;
        margin-bottom: .27rem;
        height: 6rem;
        background-color: #fff;

        .left, .right {
            flex: 1;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
            overflow-y: auto;

            .choose {
                color: #0052fb;
            }
            div {
                box-sizing: border-box;
                padding: .42rem 0;
            }
        }
    }
    .close {
        height: 1rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid 1px #e5e5e5;
        font-size: .3rem;
        line-height: 1rem;
        color: #0052fb;
        text-align: center;
    }
}

//form-radio组件样式
.form-radio {
    flex: 1;
    box-sizing: border-box;
    margin-left: .51rem;
    border-bottom: 1px solid #e5e5e5;
    padding: .4rem .31rem 0 0;
    background: #fff;
    font-size: .3rem;
    line-height: 1;
    display: flex;

    .title {
        width: 1.56rem;
        color: #000;

        .red {
            position: relative;

            &::before {
                content: "*";
                position: absolute;
                left: -.15rem;
                top: 0rem;
                color: red;
            }
        }
    }
    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        .radio {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: .4rem;

            input {
                position: absolute;
                // z-index: 1;
                opacity: 0;
                width: 100%;
                height: 100%;
            }
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: .25rem;
                border: solid 1px #a0a0a0;
                border-radius: 50%; 
                width: .34rem;
                height: .34rem;
                background: #fff;                

                .check {
                    border-radius: 50%;
                    width: .22rem;
                    height: .22rem;
                    background-color: #d5a76a;
                }
            }
            .uncheck {
                color: #8d8a9c;
            }
        }
    }
}
.check-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .title {
        box-sizing: border-box;
        border-radius: .1rem .1rem 0 0;
        border-bottom: .01rem solid #e5e5e5;
        padding: .36rem 0 .34rem;
        font-size: .3rem;
        line-height: 1;
        color: #000;
        text-align: center;
        background: #fff;
    }
    .list1 {
        display: flex;
        margin-bottom: .27rem;
        height: 6rem;
        background-color: #fff;

        .left, .right {
            flex: 1;
            font-size: .3rem;
            line-height: 1;
            color: #000;
            text-align: center;
            overflow-y: auto;

            .choose {
                color: #0052fb;
            }
            div {
                box-sizing: border-box;
                padding: .42rem 0;
            }
        }
    }
    .close {
        height: 1rem;
        background-color: #fff;
        border-radius: .1rem;
        border: solid 1px #e5e5e5;
        font-size: .3rem;
        line-height: 1rem;
        color: #0052fb;
        text-align: center;
    }
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 1.7rem;
    background-color: #fff;
    border-top: solid 1px #e5e5e5;
    box-sizing: border-box;
    padding-bottom: .65rem;

    div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        span {
            display: block;
            margin-bottom: .22rem;
            width: .42rem;
            height: .42rem;
        }
        .home {
            background-image: url(../images/bg.png);
            background-position: -.21rem -7.79rem;
            background-size: 6.86rem;
        }
        .shop {
            background-image: url(../images/bg.png);
            background-position: -.98rem -7.79rem;
            background-size: 6.86rem;
        }
        .car {
            background-image: url(../images/bg.png);
            background-position: -1.75rem -7.81rem;
            background-size: 6.86rem;
        }
        .my {
            background-image: url(../images/bg.png);
            background-position: -2.5rem -7.83rem;
            background-size: 6.86rem;
        }
        p {
            display: block;
            font-size: .18rem;
            line-height: 1;
            color: #000;
        }
    }
    .active {
        p {
            color: #3998f4;
        }

        span {
            flex-shrink: 0;
            display: block;
            margin-bottom: .14rem;
            width: .95rem;
            height: .95rem;
        }
        .home {
            background-image: url(../images/bg.png);
            background-position: -.24rem -8.56rem;
            background-size: 6.86rem;
        }
        .shop {
            background-image: url(../images/bg.png);
            background-position: -1.35rem -8.56rem;
            background-size: 6.86rem;
        }
        .car {
            background-image: url(../images/bg.png);
            background-position: -2.46rem -8.56rem;
            background-size: 6.86rem;
        }
        .my {
            background-image: url(../images/bg.png);
            background-position: -3.58rem -8.56rem;
            background-size: 6.86rem;
        }
    }
}
